[[$doc_head]]
    <body class="interior">
        <div class="hidden-desktop">
            <a id="showLeftPush" class="m-menu ico-menu"></a>
            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                <a id="close" class="ico-cross"></a>
                <ul>
                    <li><a href="interior.html">About</a></li>
                    <li><a href="race.html">Races</a></li>
                    <li class="active"><a href="interior.html">Info</a></li>
                    <li><a href="interior.html">Party</a></li>
                    <li><a href="interior.html">Results</a></li>
                    <li><a href="interior.html">Shop</a></li>
                </ul>
                <ul class="mnav-tophat">
                    <li><a href="interior.html">Contact</a></li>
                    <li><a href="interior.html">FAQ</a></li>
                    <li><a href="interior.html">Sponsor</a></li>
                    <li><a href="interior.html">Newsletter</a></li>
                </ul>
                <ul class="mnav-social">
                    <li><a href="interior.html" class="ico-facebook"></a></li>
                    <li><a href="interior.html" class="ico-twitter"></a></li>
                    <li><a href="interior.html" class="ico-instagram"></a></li>
                    <li><a href="interior.html" class="ico-youtube"></a></li>
                </ul>

            </nav>
            </div>
            <div class="tophat terrain">
                <div class="row-fluid wrap">
                    <div class="logo"><a href="/"><img src="/resources/img/logo.jpg" alt=""></a></div>
                    <ul class="visible-desktop">
                        <li><a href="interior.html">Contact</a></li>
                        <li><a href="interior.html">FAQ</a></li>
                        <li><a href="interior.html">Sponsor</a></li>
                        <li><a href="interior.html">Newsletter</a></li>
                        <li><a href="interior.html" class="ico-facebook"></a></li>
                        <li><a href="interior.html" class="ico-twitter"></a></li>
                        <li><a href="interior.html" class="ico-instagram"></a></li>
                        <li><a href="interior.html" class="ico-youtube"></a></li>
                    </ul>
                </div>
            </div>
        
        <nav class="mainnav visible-desktop">
            <div class="row-fluid wrap">
                <ul>
                    <li><a href="interior.html">About</a></li>
                    <li ><a href="race.html">Races</a></li>
                    <li class="active"><a href="interior.html">Info</a></li>
                    <li><a href="interior.html">Party</a></li>
                    <li><a href="interior.html">Results</a></li>
                    <li><a href="interior.html">Shop</a></li>
                    <li class="register"><a class="button red"href="">Register</a></li>
                </ul>
            </div>
        </nav>
        <section class="hero" style="background-image:url('resources/img/hero1.jpg')">
            
        </section>
        <!-- CONTENT -->
        

        <div class="row-fluid wrap pagetitle">
            <h1 >Page title headline</h1>
        </div>
        <section class="content">
            <div class="main-content tab-content row-fluid wrap">
                <h1>This is an H1 headline</h1>
                <h2>This is an H2 headline</h2>
                <h3>This is an H3 headline</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed expedita enim esse facere consectetur, ab adipisci reiciendis assumenda similique corporis veritatis qui laboriosam modi, mollitia deleniti odio nam rerum. Doloribus, architecto, voluptatibus! Commodi autem, distinctio error molestias, nesciunt ullam, quaerat, eligendi illo id blanditiis omnis mollitia doloremque quos maiores eum veritatis aliquid quam minima.</p>
                <p>Molestias at alias accusamus ex veniam unde magnam, quia, ipsa nihil rem corporis asperiores aut quod itaque? Vel quis nesciunt quia nobis, cupiditate minus, quidem repellat inventore numquam alias, excepturi dolorem. Ea vitae mollitia nam tempora, reprehenderit natus debitis distinctio laudantium animi a quaerat cupiditate minima molestiae odio, blanditiis amet officiis suscipit! Assumenda, rerum, dolorum.</p>
                <h2>Column Styles</h2>
                <hr>
                <h3>2 column</h3>
                <div class="row-fluid">
                    <div class="span6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis vero voluptatem pariatur necessitatibus dolore fugiat sunt, consequatur enim voluptates et fuga explicabo maiores quia, consectetur mollitia laboriosam doloremque tempora amet sed cupiditate ipsa, omnis neque modi possimus? Omnis adipisci repudiandae deserunt doloribus esse libero ipsa minus temporibus, tempora, obcaecati nulla.</p>
                        <p>Sint, accusantium ullam nostrum est soluta velit, numquam, vel, doloribus aliquid eos error nesciunt obcaecati ea quam quisquam. Quis, animi, natus! Sit ad eveniet, quo repellendus harum magni, veritatis. Ratione consequuntur consectetur voluptate iste illum, quod nesciunt tempore ipsam aspernatur quaerat beatae necessitatibus libero cupiditate quisquam est, explicabo doloribus ullam.</p>
                    </div>
                    <div class="span6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae laudantium, sapiente eos, excepturi, totam atque hic blanditiis reiciendis incidunt sint placeat! Cumque molestiae, repellat ea voluptas minima tempore veniam? Odio similique eveniet voluptatum consequatur fugit illo officiis molestiae, cupiditate in, facere, sunt natus quod aut! Quos vel libero nihil doloribus!</p>
                        <p>Id cupiditate dolorem explicabo! Vitae consectetur vel earum, dolorum, nihil nam neque illum repellat soluta dolores porro nulla perspiciatis. Tempora reiciendis, maiores ab libero necessitatibus sunt animi iure cum repellendus omnis eaque est neque, optio eveniet mollitia nam et quis sapiente voluptatibus debitis recusandae velit non quasi! Veritatis, omnis, aliquid!</p>
                    </div>
                </div>
                <h3>3 column</h3>
                <div class="row-fluid">
                    <div class="span4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam voluptate eligendi laborum culpa libero assumenda velit, consequuntur quam laboriosam dignissimos perferendis eius repellendus eum eveniet enim quidem, atque vitae. Consequuntur architecto itaque, distinctio sapiente sunt eaque fugit unde magni iusto, eligendi laborum amet eum voluptatem dolorem blanditiis quod pariatur repellat.</p>
                        <p>Quibusdam, assumenda. Atque nisi quas quo nesciunt repudiandae doloremque eligendi temporibus, accusantium quos inventore. Deleniti quaerat ducimus, quisquam quidem, id delectus adipisci quam dolor unde perferendis eos asperiores officiis, rem, recusandae laborum sint. Facilis repellat hic autem, repudiandae expedita ipsam. Atque excepturi doloremque consequuntur totam deserunt. Quaerat ipsum, nihil. Veritatis.</p>
                    </div>
                    <div class="span4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quo fuga, aliquid aspernatur nisi impedit praesentium consequuntur aperiam rem accusantium minima consectetur, dolorum natus excepturi corporis eius accusamus. Ab, maiores pariatur. Repudiandae praesentium earum quidem consequuntur doloribus quas voluptas distinctio ullam. Libero autem officia voluptate blanditiis, nulla dolorum facilis tempore!</p>
                        <p>Corrupti ad alias quia neque, vitae praesentium. Iure dolores, quae voluptates dolore temporibus minus sint itaque est cupiditate repellat. Minima eum maiores, fugiat nihil possimus veritatis rerum iste qui. Officiis numquam accusantium eos neque aut hic incidunt molestiae, inventore, rerum nobis aperiam. Mollitia labore, vero fugiat molestias vel id quis.</p>
                    </div>
                    <div class="span4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, deserunt facilis nulla quibusdam rem perspiciatis! Autem, quod, necessitatibus. Beatae placeat aperiam, tenetur reprehenderit perferendis dolores nisi non. Quas sint, voluptatum placeat accusantium fuga dolor. Maxime, nemo magnam deserunt amet mollitia ratione enim! Deserunt asperiores expedita blanditiis sequi illum soluta, reprehenderit!</p>
                        <p>Laudantium, sequi esse eum asperiores optio, hic voluptates qui. Neque ullam rerum, veniam, minus magni harum laudantium pariatur, aperiam quibusdam distinctio dicta velit? Architecto sint sed tempore velit fugiat hic asperiores, optio perferendis inventore qui dolor adipisci sapiente labore ut distinctio! Tenetur, magni error! Eius quibusdam recusandae alias ipsam, officia!</p>
                    </div>
                </div>
                <h3>4 column</h3>
                <div class="row-fluid">
                    <div class="span3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, delectus perferendis animi repellendus, possimus doloremque perspiciatis odio nobis non iusto aut assumenda est saepe reiciendis fugiat quis incidunt mollitia ipsum omnis corporis velit maiores. Cumque iste atque culpa possimus fugit, explicabo harum nobis accusantium nam at unde quaerat sequi asperiores.</p>
                        <p>Voluptatem ipsa ipsam temporibus minima, deserunt ratione suscipit laborum itaque mollitia ullam quos fugit molestiae dicta fuga omnis, nostrum unde alias consectetur obcaecati sapiente iusto cum neque officiis, esse cumque. Incidunt voluptates veniam optio minima voluptatibus quaerat minus accusamus ratione, voluptatum alias nesciunt sunt fuga rem labore sequi numquam harum?</p>
                    </div>
                    <div class="span3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod asperiores ut quasi architecto repudiandae magnam autem libero consequuntur, facere impedit. Sapiente reiciendis dolorem consequuntur qui, cum expedita quos, necessitatibus obcaecati ut nisi debitis labore tempore accusantium eos excepturi autem. Aspernatur perspiciatis magnam sed molestiae, sequi nulla asperiores hic laboriosam velit.</p>
                        <p>Est facere expedita sed nobis iusto, adipisci magni asperiores modi iure eos ducimus, qui omnis blanditiis dolore. Iusto dignissimos voluptatem laboriosam, quod vitae pariatur in aperiam veniam obcaecati perspiciatis, qui quo quis est nobis modi ex molestiae officia accusantium nesciunt ut! Esse adipisci tempora vel dolores asperiores aliquam doloremque tenetur!</p>
                    </div>
                    <div class="span3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur eius reprehenderit fuga adipisci dolor soluta earum magnam aspernatur animi ipsa totam quo quam rerum mollitia velit nemo eum aliquid ab, dicta, quos architecto repudiandae, debitis hic illum. Assumenda nam, quibusdam, quis itaque maiores numquam architecto vel tenetur alias ipsum quod.</p>
                        <p>Id officia saepe aut quos sed illo tempore neque quasi doloremque quis, accusantium! Maiores minus molestiae dolores temporibus saepe necessitatibus voluptas quibusdam voluptatum labore, consectetur, quidem rem eum vel, laboriosam laudantium sapiente hic explicabo et sed id itaque in corporis. Impedit eligendi perferendis reprehenderit obcaecati, mollitia aliquam corporis sint nobis.</p>
                    </div>
                    <div class="span3">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, dolorem, voluptas. Pariatur, incidunt, assumenda. Cupiditate beatae maxime, cumque, dolores ipsum blanditiis a omnis excepturi ipsa, minima consequatur. Rem obcaecati provident, asperiores ducimus eos aliquam blanditiis cum voluptatibus ab. Alias reiciendis fugit vel at voluptatum sit, provident deserunt mollitia voluptate aspernatur?</p>
                        <p>Recusandae asperiores enim aperiam laborum a dolores pariatur vel fuga dolore. Laudantium quas odit dicta quasi maxime facilis perferendis. Soluta laboriosam voluptate vero asperiores accusantium quam sapiente sint reiciendis voluptatem minus deleniti cupiditate perferendis dolor aliquid, vel voluptatibus non, dolorem iste sed quis aperiam hic esse porro? Ut tempore, quas.</p>
                    </div>
                </div>
                
            </div>
        </section>

        <!-- END CONTENT -->
        <section class="races row-fluid">
            <div class="grid3">
                <div class="race" style="background-image: url('resources/img/race1.jpg')">
                    <h3>Old Algoura</h3>
                    <p class="distance">half marathon</p>
                    <div class="overlay"></div>
                </div>
                <div class="race-info">
                    <div class="race-name">
                        <h3>Old Algoura</h3>
                        <p>Half Marathon</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eligendi ea aliquam laudantium itaque laborum.</p>
                    <a href="" class="button blue">Info</a>
                    <div class="overlay"></div>
                </div>
            </div>
            <div class="grid3">
                
                    <div class="race" style="background-image: url('resources/img/race1.jpg')">
                        <h3>Old Algoura</h3>
                        <p class="distance">half marathon</p>
                        <div class="overlay"></div>
                    </div>

                <div class="race-info">
                    <div class="race-name">
                        <h3>Old Algoura</h3>
                        <p>Half Marathon</p>
                    </div>
                    <p>Possimus incidunt explicabo laudantium consequuntur consectetur, cum voluptates molestiae, soluta placeat, error modi at quod.</p>
                    <a href="" class="button blue">Info</a>
                </div>
            </div>
            <div class="grid3">
                <div class="race" style="background-image: url('resources/img/race1.jpg')">
                    <h3>Old Algoura</h3>
                    <p class="distance">half marathon</p>
                    <div class="overlay"></div>
                </div>
                <div class="race-info">
                    <div class="race-name">
                        <h3>Old Algoura</h3>
                        <p>Half Marathon</p>
                    </div>
                    <p>Possimus modi minus dolore vitae molestias reiciendis tempore cumque, optio velit nesciunt nulla quos amet.</p>
                    <a href="" class="button blue">Info</a>
                </div>
            </div>
            <div class="grid3">
                <div class="race" style="background-image: url('resources/img/race1.jpg')">
                    <h3>Old Algoura</h3>
                    <p class="distance">half marathon</p>
                    <div class="overlay"></div>
                </div>
                <div class="race-info">
                    <div class="race-name">
                        <h3>Old Algoura</h3>
                        <p>Half Marathon</p>
                    </div>
                    <p>Tenetur commodi expedita doloribus blanditiis ipsam eveniet unde similique debitis, non, neque eligendi, doloremque aut?</p>
                    <a href="" class="button blue">Info</a>
                </div>
            </div>
            <div class="grid3">
                <div class="race" style="background-image: url('resources/img/race1.jpg')">
                    <h3>Old Algoura</h3>
                    <p class="distance">half marathon</p>
                    <div class="overlay"></div>
                </div>
                <div class="race-info">
                    <div class="race-name">
                        <h3>Old Algoura</h3>
                        <p>Half Marathon</p>
                    </div>
                    <p>Fugiat maiores tenetur natus, iusto earum saepe totam, commodi, illo veniam eaque voluptatum, accusantium? Similique!</p>
                    <a href="" class="button blue">Info</a>
                </div>
            </div>
            <div class="grid3">
                <div class="race" style="background-image: url('resources/img/race1.jpg')">
                    <h3>Old Algoura</h3>
                    <p class="distance">half marathon</p>
                    <div class="overlay"></div>
                </div>
                <div class="race-info">
                    <div class="race-name">
                        <h3>Old Algoura</h3>
                        <p>Half Marathon</p>
                    </div>
                    <p>Voluptatibus quo sunt temporibus, explicabo, amet porro ad hic, asperiores omnis consequuntur architecto aut adipisci?</p>
                    <a href="" class="button blue">Info</a>
                </div>
            </div>
        </section>
        
        <section class="sponsors">
            <div class="row-fluid wrap">
                <ul>
                    <li><a href=""><img src="resources/img/sponsors/nw.png" alt=""></a></li>
                    <li><a href=""><img src="resources/img/sponsors/dole.png" alt=""></a></li>
                    <li><a href=""><img src="resources/img/sponsors/avidity.png" alt=""></a></li>
                </ul>
            </div>
        </section>
        
        <footer class="main-footer">
            <div class="row-fluid wrap">
                <div class="col4">
                    <img src="resources/img/footer-logo.jpg" alt="">
                </div>
                <div class="col4">
                    <h3>Site Nav</h3>
                    <ul>
                        <li><a href="">About</a></li>
                        <li><a href="">Info</a></li>
                        <li><a href="">Results</a></li>
                        <li><a href="">Register</a></li>
                        <li><a href="">Party</a></li>
                        <li><a href="">Shop</a></li>
                    </ul>
                </div>
                <div class="col4">
                    <h3>Races</h3>
                    <ul>
                        <li><a href="">Pacific Half</a></li>
                        <li><a href="">Chesebro Half</a></li>
                        <li><a href="">Old Agoura</a></li>
                        <li><a href="">Deena Kastor</a></li>
                        <li><a href="">Kids 1 Mile</a></li>
                        <li><a href="">Family Fun Run</a></li>
                    </ul>
                </div>
                <div class="col4">
                    <a href="" class="button">Newsletter Signup</a>
                    <ul class="social">
                        <li><a href="" class="ico-facebook"></a></li>
                        <li><a href="" class="ico-twitter"></a></li>
                        <li><a href="" class="ico-instagram"></a></li>
                        <li><a href="" class="ico-youtube"></a></li>
                    </ul>
                    <ul>
                        <li><a href="">Sponsor</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="/resources/js/libs/respond.min.js"></script>
        <script src="/resources/js/libs/bootstrap.min.js"></script>
        <script src="/resources/js/plugins.js"></script>
        <script src="/resources/js/main.js"></script>
        <script src="/resources/js/event-tracker.js"></script>
        <script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        close = document.getElementById( 'close' ),
        body = document.body;

      
      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
      };
      close.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
      };
      
    </script>

    </body>
</html>
