section {
  padding:2em 0;
    
} 


.grid4 {
  @include rowGrid(4,0);
}

.race-tabs {
	li {
		a {
			border-right:solid 1px;
			border-bottom:0;
		}
		&:last-child {
			a {
				border:0;
			}
		
	    }
	}
}