section {
	padding:2em 0;
}

.col2 {
	@include rowGrid(2,0);
}

.grid3 {
	@include rowGrid(2,.1%);
}

.races {
	.grid3 {
		border-top:0;
		border-bottom:0;
		&:nth-child(1n+1){
			border-right:solid 1px white;
		}
	}
}

.news, .callout ul {
  height:800px;
}

.col4 {
  @include rowGrid(2,0);
}

.col3 {
	@include rowGrid(3,0);
}

.main-footer {
	text-align: left;
	
  .col4:last-child{
    padding: 3em 0px 3em 20px;;
  }
}



.logo {
	width:auto;
}


.hero {
	padding:8em 12em 4em;
	.promo {
		.headline {
			h1 {
				font-size: 60px;
			}
		}
	}
}

.pagetitle {
	h1 {
		font-size: 80px;
	}
	h2 {
		font-size: 30px;
	}
}

.section-title {
	h3{
		font-size: 40px;
		float:left;
	}
	.social {
		float:right;
	}
}

.interior {
  .hero{
    height:450px;
}
}

.gallery {
	li {
		@include rowGrid(3,0);
	}
}
