.grid3 {
	@include rowGrid(3,.1%);

}

.races {
	.grid3 {
		border:0 !important;
	}
}

.news, .callout ul {
  height:650px;
}

.col4 {
  @include rowGrid(4,0);
}

.main-footer {
	
  .col4:nth-child(3){
    border-right:solid 1px $neutral;
    border-left:solid 1px $neutral;
  }
}


.hero {
	height:470px;
	padding: 0;

}

.home {
	.hero {
		height:600px;
	}
}

.landing {
	.hero {
		height: 470px;
	}
}

.stats {
	.span4{
		h2 {
			font-size: 99px;
		}
	}
}

.content {
  padding:0em 0em 5em;
}

.pagetitle {
	width:100%;
}

.race-tabs {
	a {
    
    padding:60px 0;
    font-size: 35px;
}
    span {
      font-size: 15px;
    }
}


.gallery {
	li {
		@include rowGrid(5,0);
	}
}