.mainnav {
	padding:0;
	position: absolute;
	z-index: 11;
	width:100%;
	background:rgba(black, .6);
	float:right;
	@include transition(all .5s);
	&:hover {
		background:black;
		.dropdown-menu {
			background: black;
		}
	}
	.dropdown-menu {
		float: none !important;
		left:auto;
		background:rgba(black, .6);
		margin:0;
		border-radius:0;
		li {
			float:none;
			padding:0;
			a {
				font-size: 14px !important;
				padding: 7px 20px !important;
				&:hover {
					background:none;
				}

			}
		}
	}
	ul{
		float:right;

		li.level1:last-child {
				&:hover {
					a {
						&:hover {
						color:rgba(white, .8);
					}
					}
				}
				a {
					padding:20px;
					font-family: $body;
					text-transform: uppercase;
					color:white;
					display: inline-block;
					border:solid 1px transparent;
					background: $red;
					font-weight: 800;
					color:white;
					
					.caret {
						border-top-color:white !important;
						border-bottom-color:white !important;

					}
					&:hover {
						background: #a71326;
						color:white;
					}


				}
				.dropdown-menu {
					background: $red;
					li {
						a {
							font-weight: 300;
							&:hover {
								background: transparent;
							}
						}
					}
				}
		}

		li {
			
			
			&:hover, &.active {
				> a {
					color:#767676;
					text-decoration: none;
				}
			}
			float:left;
			a {
				padding: 1.25em 1em;
				color:white;
				text-transform: uppercase;
				font-family: $heading;
				font-size: 16px;
				font-weight: 300;
			}
		}
	}
}


.nav {
	margin:0;
	padding:0;
}

.tophat {
	position: relative;
	z-index: 1000;
	.logo {
		position:absolute;
	}
	ul {
		float:right;
		li{
			float:left;
			margin-right: 1em;
			&:last-child {
				margin-right: 0;
			}
			a {
				color:$lightblue;
				font-size: 12px;
				&:hover {
					color:white;
				}
			}
		}
	}
}

/* General styles for all menus */
.cbp-spmenu {
	background: $primary;
	position: fixed;
}


.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

.cbp-spmenu a:hover {
	background: $aqua;
}

.cbp-spmenu a:active {
	background: $aqua;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
}

.cbp-spmenu-vertical a {
	border-bottom: 1px solid black;
	padding: 10px
}

.cbp-spmenu-horizontal {
	width: 100%;
	height: 150px;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}

.cbp-spmenu-horizontal h3 {
	height: 100%;
	width: 20%;
	float: left;
}

.cbp-spmenu-horizontal a {
	float: left;
	width: 20%;
	padding: 0.8em;
	border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -240px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Horizontal menu that slides from the top or bottom */

.cbp-spmenu-top {
	top: -150px;
}

.cbp-spmenu-bottom {
	bottom: -150px;
}

.cbp-spmenu-top.cbp-spmenu-open {
	top: 0px;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
	bottom: 0px;
}

/* Push classes applied to the body */

body {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.cbp-spmenu-push-toright {
	left: 240px;
}

.cbp-spmenu-push-toleft {
	left: -240px;
}

/* Transitions */

.cbp-spmenu,
body {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 190px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -190px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}

.cbp-spmenu {
	#close {
		display: inline-block;
		border: 0;
		font-size: 28px;
	}
	.mnav-social {
		li {
			float: left;
			a {
				border-bottom: 0;
			}
			display: inline;
		}
	}

	.mnav-tophat {
		margin-top: 1em;
		li {
			a {
				font-size: 14px;
				border-bottom: 0;
				color: #ccc;
				padding: 5px 10px;
			}
		}
	}
}

.cbp-spmenu  {
	.dropdown-menu {
		float: none;
		position: relative;
		background: rgba(white, .1);
		box-shadow: none;
		border: none;
		width: 100%;
		margin: 0;
		padding: 0;
		border-radius:0;
		li {
			a {
				color:white;
			}
		}
	}
}

.dropdown-menu {
	@include transition(.3s all);
}

.open {
	.caret {
		border-top-color:$red !important;
		border-bottom-color:$red !important;
		-ms-transform: rotate(0deg); /* IE 9 */
		-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
		transform: rotate(0deg);
	}
}


.caret {
	@include transition(.3s all);
	-ms-transform: rotate(-90deg); /* IE 9 */
	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
	transform: rotate(-90deg);
}
