* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
  @extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}
body {
  padding:0;
}
.terrain {
  background:$blue url('/resources/img/terrain-bg.png')repeat;
}

/* MAIN */

section {
  padding:2em;

}


.landing {
  .tophat {
    .row-fluid {
      padding:1em 0;
      ul {
        margin: 0;
      }
    }
  }
  .landingTitle {
    color:#8a99c9;
    float:left;
    margin-bottom: 0;
  }
  background-position:center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
  .pagetitle {
    border-bottom: 0;
    padding: 0;
    h1,h2 {
      color:white;
    }
  }
  .slider-gallery {
    padding: 0;
  background: black;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    li {
      img{

      @include opacity(.4);
      @include transition(.3s all);
      }
      border-right: solid 1px white;
      &:hover {
        img {
        @include opacity(1);
      }
      }
    }
  }
}

.logo {
  width:80px;
}


.hero {
  background-size:cover;
  display: table;
  width:100%;
  position: relative;
  overflow:hidden;
  padding: 8em 1em 4em;
  .overlay {
    background:url('/resources/img/bg.png')repeat;
    position: absolute;
    z-index:2;
    width:100%;
    height:700px;
    left:0;
    
  }
  .media {
    display:none;
    position: absolute;
    left: 0;
    z-index: 1;
    video {
      width:auto;
      display: inline-block;
      position: absolute;
      bottom: -90px;
    }
  }
  .promo-outer {
    display:table-cell;
    vertical-align:middle;
    position: relative;
    z-index:10
  }

  .promo {
    .headline {
     background:rgba(black, .5);
     display: inline-block;
     padding:20px;
     h1 {
      color:white;
      display: inline-block;
      font-size: 28px;
      text-transform: none;
       ;
    } 
  }
}
}

.media {
  margin: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

.wrap {
  max-width: 940px;
  margin:auto;
  &:before, &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }

}

.stats {
  .span4 {
    text-align: center;
    p {
      color:white;
      text-transform: uppercase;
      font-weight: 300;
    }
    h2 {
      font-size: 50px;
      font-weight: 800;
      color:$lightblue;
    }
  }
} 


.grid3 {

  @include rowGrid(1,.1%);
  float:left;
  overflow:hidden;
  position: relative;
  border-bottom:solid 1px white;
  &:hover, &.hover_effect {
    .race {
      margin-left:-60%;

    }
  }
}

.m-menu {
  padding:10px;
  background:$blue;
  color:white;
  position: fixed;
  top:1em;
  right:1em;
  z-index: 1000;
  font-size: 25px;
  &:hover, &:active {
    color:$aqua;
  }
}

.races {
  padding: 0;
  border-top: solid 1px white;
}

.race {
  position: relative;
  padding:6em 0;
  text-align: center;
  background-size:cover;
  z-index: 3;
  width:100%;
  background-color: black;
  overflow:hidden;
  @include transition(.3s all);
  .overlay {
    background:rgba(black,.4);
    width:100%;
    height:700px;
    position: absolute;
    top:0;
    left:0;
    z-index:1;
  }
  h3,p {
    position: relative;
    z-index:15;
  }
  h3 {
    color:white;
    font-family: $heading;
    font-size: 40px;
    text-transform: uppercase
  }
  p {
    color:$yellow;
    font-family: $heading;
    font-size: 18px;
    font-weight: 300;
  }
  h5 {
    color:white;
    font-size: 14px;
    font-style: italic;
    position: relative;
    z-index: 10;
  }
  
}


.race-info {
  position: absolute;
  z-index: 2;
  top:0;
  right:0;
  width:60%;
  padding:2em;
  .race-name {
    border-bottom: 1px solid $aqua;
    margin-bottom: 1em;
    h3 {
      font-family: $heading;
       ;
      font-size: 24px;
      line-height: 1;
      color: black;
      margin: 0;
      padding: 0;
    }
    p {
      font-size: 12px;
      margin: 0;
      padding: 0;
    }

  }
  p {
    font-size: 12px;
  }
  .button {
    text-align: center;
    width:100%;
  }
  
}


/* SPONSORS */

.sponsors {
  padding: 0;
  ul {
    text-align: center;
  }
  li {
    display:inline;
    margin-right: 2zem;
  }
}

/* UPDATES */


/* COLUMNS */

.col2 {
  @include rowGrid(1,0);
  float:left;
}


/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}



.callout {
  ul {
  padding: 0;
  margin: 0;
  }
  li {
    text-align: center;
    height: 33.333333%;
    overflow:hidden;
    background-size: cover;
    position: relative;
    &:hover {
      .overlay {
        background: rgba(black, .50);
      }
      .ico-arrow-right:before {
        color:$yellow;
        right: 35px;
        font-size: 30px;
      }
    }
    h4 {
      color:white;
    }
    p {
      color:$yellow;
      max-width: 60%;
      margin: auto;
      line-height: 1.1;
    }

  }
  div {
    z-index: 100;
    @include vertical-align;

  }

  .ico-arrow-right:before {
    @include transition(.5s all);
    color:transparent;
    position: absolute;
    right: 20px;
    top: 40%;
    font-size: 25px;
    scale:20%;
  }

  .overlay {
    position: absolute;
    @include transition(.3s all);
    width:100%;
    height:500px;
    top:0;
    left:0;
    z-index: 1;

  }
}

.callout ul {
  height:650px;
}

#race {

  .video-row {
  border-top: solid 0px $ultralight;
  border-bottom: solid 1px $ultralight;
  margin-bottom: 2em;
  margin-top: 0;
  
}

}

.news {
  padding:2em 4em;
  h4 {
    color:#cccccc;
  }
  li {
    padding:20px 0;
    border-bottom: 1px solid $lightblue;
    margin-bottom: 1em;
    p {
      color:#cccccc;
      font-size: 18px;
      line-height: 1.4;
       ;
      padding: 0;
      margin: 0;
      @include transition(.3s all);
    }
    h5{
      margin-bottom: 10px;
    }
    a {
      &:hover {
        p {
          color:white;
        }
      }
    }
  }
}

[class^="col"] {
    float:left;
    @include rowGrid(1,0);
}




.main-footer {
  background: $dark;
  padding:2em;
  text-align: center;
  a {
    color:rgb(205, 205, 205);
  }
  .avidity {
    border-top: solid 1px #3D3D3D;
      padding-top: 1em;
      margin-top: 1em;
  
    p{
      font-size: 11px;
    }
  }
  .button {
    background: $neutral;
    color:$dark;
  }
  ul.social {
    li {
      display: inline;
      margin-right: 1em;
      a {
        font-size: 18px;
        
      
      }
    }
  }
    h3 {
      font-weight: 800;
      font-family: $heading;
    }
  li {
    margin-bottom: 12px;
    a {
      color:$darker;
      &:hover {
        color:$neutral;
      }
    }
  }
}

.interior {
  .hero{
    height:250px;
}
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
  padding:2em;
}

.main-content {
  padding:2em 0;
}

.section-title {
  border-bottom: 5px solid $aqua;
  padding:0 0 1em;
  margin-bottom: 2em;
  h3 {
    text-transform: none;
    color:$aqua;
    margin: 0 0 10px;
    font-size: 30px;
    font-family: $heading;
    
  }
  .social {
    
    vertical-align: baseline;
    position: relative;
    display: inline-block;
    .ico-facebook2,.ico-facebook2:visited {
        color:rgba(#436ea3,.4);
        &:hover {
          color:#436ea3
        }
      }
      .ico-twitter2, .ico-twitter2:visited {
        color:rgba(#3b8fc0,.4);
        &:hover {
          color:#3b8fc0
        }  
      }
    p,ul {
      display: inline;
      vertical-align: text-bottom;
    }
    p {
      margin-right: 1em;
    }
    ul {
      li {
        display: inline;
      }
    }
  }
}

.video-row {
  padding:2em 0;
}

.pagetitle {
  padding:2em 0em 1em;
  width:90%;
  border-bottom: solid 1px $ultralight;
  margin-bottom: 2em;
  h1,h2 {
    line-height: 1;
    padding: 0;
    margin: 0;
  }
  h1 {
    color:$aqua;
    font-size: 50px;
    font-weight: 300;
  }
  h2 {
    font-size: 25px;
    color:$light;
    font-family: $body;
    font-weight: 400;
  }
  
}

.grid4 {
  @include rowGrid(2,0);
}

.nav.nav-tabs {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}


.race-tabs {
  
  text-align: center;
  li {
    &:nth-child(n+1){
      a {
      border-bottom: solid 1px rgba(white,.4);
    }
    }
    &:nth-child(odd){
      a{
      border-right:solid 1px rgba(white, .4);
    }
  }
    &:last-child {
      a {
        border-right: 0;
      }
    }
    &.active {
      a {
        text-decoration: none;
        background:rgba(white,.3);
        color:white;
      }
    }
  }
  
  a {
    padding:30px 0;
    font-size: 25px;
    color:rgba(white, .4);
    &:hover {
      background:rgba(white,.3);
      color:white;
    }
    span {
      display: block;
      margin-top: 3em;
      font-size: 12px;
      font-family: $body;
      text-transform: uppercase
    }
  }
}

.map {
  margin-bottom: 2em;
}


.gallery {
  margin: 0 !important;  
  padding: 0 !important;
  li {
    @include rowGrid(2,0);
      margin-bottom:1em;
      display: inline-block;
      float:left;
      background-size:cover;
      background-repeat:no-repeat;
      position: relative;
      overflow: hidden;
      @include opacity(.8);
      
      @include transition(all .3s);
      &:hover {
        @include opacity(1);
        .meta {
          bottom:0;
        }
      }
    .meta {
      @include transition(all .3s);
      background:rgba(255,255,255,.9);
      position: absolute;
      bottom:0px;
      text-align: center;
      width:100%;
      display: table; 
        a {
          display:table-cell;
          vertical-align:middle;
          h1,p {
             ;
          }
          h1 {
            font-size: 21px;
          }
        }
      
      
    }
  }
}

.raceDate {
  p {
    margin: 0 ;
    font-size: 12px;
    color:white;
  }
}



