body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $primary;
}

h1,h2 {
  font-weight: 400;
  line-height: 1.1;
  color:$aqua;
}
h1 {
  font-size: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 35px;
}

h3 {
  font-weight: 400;
  font-size: 25px;
  color:$primary;
  font-family: $body;
}

h4 {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

h5 {
  font-family: $body;
  color:$lightblue;
  font-size: 40px;
   ;
}

/* PARAGRAPH */

p {
  font-family: $body;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1em;
  color:$light;
   ;
}

a {
  color:$link;
  @include transition(all .3s);
  text-decoration: none;
  &:hover {
    color:$hover;
    text-decoration: none;
  }
}


.grid4  {
  a,a:active,a:hover,a:visited{
    outline:0;
  }
}


/* LISTS */
ul {
  padding:0;
  list-style: none;
}


.main-content {
  ul {
    list-style-type: disc;
    padding:0 0 0 30px;
  }
}

.button-bar {
  .button.outline {
    border-left:0;
  }
}

.button:visited {
  color:white;
}



.button {
  padding:10px 20px;
  font-family: $body;
  text-transform: uppercase;
  color:white;
  display: inline-block;
  border:solid 1px transparent;
  &.black {
    background:black;
    &:hover {
      background: $neutral;
    }
  }
  &.blue {
    background:$aqua;
    &:hover {
      background: $blue;
    }
  }
  &.lightblue {
    background:$lightblue;
    &:hover {
      background: $blue;
    }
  }
  &.white {
    background: rgba(white, 1);
    color:$aqua;
    &:hover {
      background: rgba(white, .5);
    }
  }
  &.red {
    background: $red;
    color:white;
    &:hover {
      background: #a71326;
    }
  }
  &.outline {
    background:transparent;
    color:$aqua;
    border-color:$aqua;
    &:hover {
      background:$blue;
      border-color:$blue;
      color:white;
    }
  }
}

@media (min-width: 300px){
  .reace-info .race-name {
    h3 {
      font-size: 24px;
      line-height: 1
    }
  }
}


@media (min-width: 400px){
  .reace-info .race-name {
    h3 {
      font-size: 24px;
      line-height: 1
    }
  }
 
}

@media (min-width: 480px){
  
}

@media (min-width: 768px){
  .reace-info .race-name {
    h3 {
      font-size: 35px;
      line-height: 1
    }
  }
}

@media (min-width: 940px){
  
}

@media (min-width: 1025px){
 
}


@media (min-width: 1200px){
  
}

@media (min-width: 1375px){
  
}

@media (min-width: 1500px){
 
}
