// COLOR PALETTE
$primary: #444444;
$secondary: #142E4A;
$hover: #505050;
$neutral: #5b5b5b;
$highlight: #306DB1;
$ultralight: #DBDBDB;
$dark: #29292a;
$darker:#474747;
$light: #606061;

$link:red;

$blue: #2a3f82;
$yellow: #f6ff00;
$lightblue: #6276b3;
$aqua: #0087d5;
$red: #ea1531;


// FONT STACKS
$heading: 'Roboto Slab', serif;
$body: 'Lato', sans-serif

