<div class="col2 callout">
                                        <ul class="">
                                            <li style="background-image:url('resources/img/callout1.jpg')">
                                                <div class="ico-arrow-right">
                                                    <a href="[[~[[*callout-link-1]]]]">
                                                        <h4>[[*callout-headline-1]]</h4>
                                                        [[*callout-text-1]]</a>
                                                    
                                                </div>
                                                <div class="overlay"></div>
                                            </li>
                                            <li style="background-image:url('resources/img/callout2.jpg')">
                                                <div class="ico-arrow-right">
                                                    <a href="[[~[[*callout-link-2]]]]">
                                                        <h4>[[*callout-headline-2]]</h4>
                                                        [[*callout-text-2]]</a>
                                                    
                                                </div>
                                                <div class="overlay"></div>
                                            </li>
                                            <li style="background-image:url('resources/img/callout3.jpg')">
                                                <div class="ico-arrow-right">
                                                    <a href="[[~[[*callout-link-3]]]]">
                                                        <h4>[[*callout-headline-3]]</h4>
                                                        [[*callout-text-3]]</a>
                                                    
                                                </div>
                                                <div class="overlay"></div>
                                            </li>
                                        </ul>
                                    </div>