      <script src="/resources/js/libs/respond.min.js"></script>
        <script src="/resources/js/libs/bootstrap.min.js"></script>
        <script src="/resources/js/plugins.js"></script>
        <script src="/resources/js/main.js"></script>
        <script src="/resources/js/event-tracker.js"></script>
        <script>
        $(document).ready(function(){
          $(".gallery img.thumb").lazyload({
                    effect : "fadeIn"
                });
          
          $('.raceDate span').countdown('[[++raceDate]]', function(event) {
            var $this = $(this).html(event.strftime(''
              + '<span>%w</span> weeks and '
              + '<span>%d</span> days '));
           });
                
        })
        </script>
        <script>
      var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        close = document.getElementById( 'close' ),
        body = document.body;

      
      showLeftPush.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
      };
      close.onclick = function() {
        classie.toggle( this, 'active' );
        classie.toggle( body, 'cbp-spmenu-push-toright' );
        classie.toggle( menuLeft, 'cbp-spmenu-open' );
      };
      
    </script>

    </body>
</html>