<footer class="main-footer">
            <div class="row-fluid wrap">
                <div class="col3">
                    <img src="resources/img/footer-logo.jpg" alt="">
                </div>
              <!--   <div class="col3">
                    <h3>Site Nav</h3>
                    <ul>
                    [[!getResources? &parents=`0` &resources=`-2,-1,-3,-4,-5,-17,-11,-12,-13,-14,-15,-16,-7,-8,-9,-10` &limit=`0`  &tpl=`nav-inner-GR`]]
                </ul>
                </div> -->
                <div class="col3">
                    <h3>Races</h3>
                    [[Wayfinder? 
                                    &level=`1`
                                    &startId=`3`
                                    &innerTpl=`nav-inner`
                                    &outerTpl=`nav-outer`
                                    &sortBy=`menuindex`
                                    ]]
                </div>
                <div class="col3">
                    <a href="[[~37]]" target="_blank" class="button">Newsletter Signup</a>
                    <ul class="social">
                        [[$social]]
                    </ul>
                    <ul>
                        <li><a href="/sponsorship">Sponsor</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                    
                </div>

            </div>
            <div class="avidity row-fluid wrap"><p>Copyright © 2015 | Website by <a href="http://aviditycreative.com/" target="_blank">Avidity Creative</a></p><!--  -->
        </footer>