<div class="hidden-desktop">
                            <a id="showLeftPush" class="m-menu ico-menu"></a>
                            <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
                                <a id="close" class="ico-cross"></a>
                                [[!Wayfinder
                                    ?startId=`[[+site_start]]`
                                    &level=`2`
                                    &sortBy=`menuindex`&sortOrder=`ASC`
                                    &innerTpl=`inner`
                                    &parentRowTpl=`parent`
                                    &outerTpl=`outer`
                                    &titleOfLinks=`menutitle`
                                    &excludeDocs=`1,7,8,9,10`]]
                                <ul class="mnav-tophat">
                                    [[$tophat-links]]
                                </ul>
                                
                                <ul class="mnav-social">
                                    [[$social]]
                                </ul>
                
                            </nav>
                            </div>