<nav class="mainnav visible-desktop">
    <div class="row-fluid wrap">
        [[!Wayfinder
        ?startId=`[[+site_start]]`
        &level=`2`
        &sortBy=`menuindex`&sortOrder=`ASC`
        &innerTpl=`inner`
        &parentRowTpl=`parent`
        &outerTpl=`outer`
        &titleOfLinks=`menutitle`
        &excludeDocs=`1,7,8,9,10`
        &levelClass=`level`
        ]]
       
    </div>
</nav>