<div class="col2 news terrain">
                <h4>Latest Event News</h4>
                <ul>
                    [[getResources?
                      &parents=`42`
                      &tpl=`home_articles`
                      &showHidden=`1`
                      &limit=`7`
                      &includeContent=`1`
                    ]]
                </ul>
                <a href="/latest-news" class="button lightblue">view all updates</a>
            </div>