<div class="promo-outer">
    <div class="row-fluid wrap pagetitle">
            <h1 >[[#[[*page_parent]].pagetitle]]</h1>
            <h2>[[#[[*page_parent]].distance]]</h2>
        </div>
    [[*promotion-name:notempty=`<div class="row-fluid wrap">
        <div class="promo">
            <div class="headline">
                <h1>[[*promotion-name]]</h1>
            </div>
            <div>
                <a  target="_blank" href="[[++register-link]]" class="button blue">Register</a>
            </div>
        </div>
    </div>`]]
</div>