<div class="promo-outer">
    <div class="row-fluid wrap">
        <div class="promo">
            <div class="headline">
                <h1>[[*promotion-name]]</h1>
            </div>
            <div>
                <a href="[[~[[*promotion-link]]]]" class="button black">Find out more</a><a  target="_blank" href="[[*register-link]]" class="button blue">Register</a>
            </div>
        </div>
    </div>
</div>