<div class="grid3">
    <div class="race" style="background-image: url('[[+thumbnail]]')">
        <h5>[[+sponsor]]</h5>
        <h3>[[+pagetitle]]</h3>
        <p class="distance">[[+distance]]</p>
        <div class="overlay"></div>
    </div>

    <div class="race-info">
        <div class="race-name">
            <h3>[[+pagetitle]]</h3>
            <p>[[+distance]]</p>
        </div>
        <p>[[+intro]]</p>
        <a href="[[~[[+id]]]]" class="button blue">Info</a>
    </div>
</div>
