<li><a target="_blank" href="[[++facebook]]" class="ico-facebook"></a></li>
                                    <li><a target="_blank" href="[[++twitter]]" class="ico-twitter"></a></li>
                                    <li><a target="_blank" href="[[++instagram-link]]" class="ico-instagram"></a></li>
                                    <li><a target="_blank" href="[[++youtube-link]]" class="ico-youtube"></a></li>