<div class="social">
    <p>Share this race:</p>
    <ul class="socialShare">
        <script>
        function fbShare(url, title, descr, image, winWidth, winHeight) {
            var winTop = (screen.height / 2) - (winHeight / 2);
            var winLeft = (screen.width / 2) - (winWidth / 2);
            window.open('http://www.facebook.com/sharer.php?s=100&p[title]=' + title + '&p[summary]=' + descr + '&p[url]=' + url + '&p[images][0]=' + image, 'sharer', 'top=' + winTop + ',left=' + winLeft + ',toolbar=0,status=0,width=' + winWidth + ',height=' + winHeight);
        }
        </script>
        <li class="facebook"><a class="ico-facebook2" href="javascript:fbShare('[[++site_url]][[~[[*id]]]]', '+', '+', '[[++site_url]][[*header-image]]', 520, 350)"></a></li>
        <li class="twitter"><a class="ico-twitter2" href="https://twitter.com/intent/tweet?url=[[++site_url]][[~[[*id]]]]&amp;text=[[*pagetitle]]"onclick="javascript:window.open(this.href,
            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"></a></li>
        </ul>
    </div>