<section class="sponsors">
	<div class="row-fluid wrap">
		<div class="flexslider">
			<ul class="slides">

				[[!getResources?
		          &parents=`1`
		          &tpl=`sponsors-list`
		          &showHidden=`1`
		          &limit=`1`
		          &includeTVs=`1`
		          &processTVs=`1`
		          &tvPrefix=``
		        ]]
			</ul>
		</div>
	</div>
</section>