<div class="tophat terrain">
                                        <div class="row-fluid wrap">
                                            <p class="landingTitle">Great Race of Agoura Hills</p>
                                            <ul>
                                                [[$tophat-links]]
                                                [[$social]]
                                            </ul>
                                        </div>
                                    </div>