<li class="raceDate"><p>Race begins in <span></span> : <br class="visible-phone">[[#1.tv.race-date]]</p></li>
<li><a href="[[~7]]">Contact</a></li>
                                                <li><a href="[[~8]]">FAQ</a></li>
                                                <li><a href="[[~9]]">Sponsor</a></li>
                                                <li><a href="[[~37]]" target="_blank">Newsletter</a></li>