<div class="tophat terrain">
                                        <div class="row-fluid wrap">
                                            <div class="logo"><a href="/"><img src="/resources/img/logo.jpg" alt=""></a></div>
                                            <ul class="visible-desktop">
                                                [[$tophat-links]]
                                                [[$social]]
                                            </ul>
                                        </div>
                                    </div>