<div class="media">
	<video id="player" autoplay preload="auto" poster="[[+poster]]" loop="">
		<source src="[[+video-mp4]]" type="video/mp4" codecs="avc1.42E01E, mp4a.40.2">
		<source src="[[+video-webm]]" type="video/webm" codecs="vp8, vorbis">
		<source src="[[+video-ogv]]" type="video/ogg" codecs="theora, vorbis">
	</video>
</div>