/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 53, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 56, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 63, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 65, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 67, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 69, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 71, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 73, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 75, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 78, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 81, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 83, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 84, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 86, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 89, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 90, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 91, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 98, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 99, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 112, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 118, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 125, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 132, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 133, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 136, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 143, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 151, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 157, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 165, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 171, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 177, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 178, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 179, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 185, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 192, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 196, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 203, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 204, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 212, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 213, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 216, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 219, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 222, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 225, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 228, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 229, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 230, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 238, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 239, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 240, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 241, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 242, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 243, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 244, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 245, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 246, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 248, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 249, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_typography.scss */
body {
  font: 100%/1.5 "Lato", sans-serif;
  color: #5b5b5b;
}

/* HEADINGS */
/* line 8, ../sass/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "Roboto Slab", serif;
  color: #444444;
}

/* line 13, ../sass/_typography.scss */
h1, h2 {
  font-weight: 400;
  line-height: 1.1;
  color: #0087d5;
}

/* line 18, ../sass/_typography.scss */
h1 {
  font-size: 50px;
  text-transform: uppercase;
}

/* line 23, ../sass/_typography.scss */
h2 {
  font-size: 35px;
}

/* line 27, ../sass/_typography.scss */
h3 {
  font-weight: 400;
  font-size: 25px;
  color: #444444;
  font-family: "Lato", sans-serif;
}

/* line 34, ../sass/_typography.scss */
h4 {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

/* line 40, ../sass/_typography.scss */
h5 {
  font-family: "Lato", sans-serif;
  color: #6276b3;
  font-size: 40px;
}

/* PARAGRAPH */
/* line 49, ../sass/_typography.scss */
p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1em;
  color: #606061;
}

/* line 58, ../sass/_typography.scss */
a {
  color: red;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
/* line 62, ../sass/_typography.scss */
a:hover {
  color: #505050;
  text-decoration: none;
}

/* line 70, ../sass/_typography.scss */
.grid4 a, .grid4 a:active, .grid4 a:hover, .grid4 a:visited {
  outline: 0;
}

/* LISTS */
/* line 77, ../sass/_typography.scss */
ul {
  padding: 0;
  list-style: none;
}

/* line 84, ../sass/_typography.scss */
.main-content ul {
  list-style-type: disc;
  padding: 0 0 0 30px;
}

/* line 91, ../sass/_typography.scss */
.button-bar .button.outline {
  border-left: 0;
}

/* line 96, ../sass/_typography.scss */
.button:visited {
  color: white;
}

/* line 102, ../sass/_typography.scss */
.button {
  padding: 10px 20px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  border: solid 1px transparent;
}
/* line 109, ../sass/_typography.scss */
.button.black {
  background: black;
}
/* line 111, ../sass/_typography.scss */
.button.black:hover {
  background: #5b5b5b;
}
/* line 115, ../sass/_typography.scss */
.button.blue {
  background: #0087d5;
}
/* line 117, ../sass/_typography.scss */
.button.blue:hover {
  background: #2a3f82;
}
/* line 121, ../sass/_typography.scss */
.button.lightblue {
  background: #6276b3;
}
/* line 123, ../sass/_typography.scss */
.button.lightblue:hover {
  background: #2a3f82;
}
/* line 127, ../sass/_typography.scss */
.button.white {
  background: white;
  color: #0087d5;
}
/* line 130, ../sass/_typography.scss */
.button.white:hover {
  background: rgba(255, 255, 255, 0.5);
}
/* line 134, ../sass/_typography.scss */
.button.red {
  background: #ea1531;
  color: white;
}
/* line 137, ../sass/_typography.scss */
.button.red:hover {
  background: #a71326;
}
/* line 141, ../sass/_typography.scss */
.button.outline {
  background: transparent;
  color: #0087d5;
  border-color: #0087d5;
}
/* line 145, ../sass/_typography.scss */
.button.outline:hover {
  background: #2a3f82;
  border-color: #2a3f82;
  color: white;
}

@media (min-width: 300px) {
  /* line 155, ../sass/_typography.scss */
  .reace-info .race-name h3 {
    font-size: 24px;
    line-height: 1;
  }
}
@media (min-width: 400px) {
  /* line 165, ../sass/_typography.scss */
  .reace-info .race-name h3 {
    font-size: 24px;
    line-height: 1;
  }
}
@media (min-width: 768px) {
  /* line 179, ../sass/_typography.scss */
  .reace-info .race-name h3 {
    font-size: 35px;
    line-height: 1;
  }
}
/* line 1, ../sass/_navigation.scss */
.mainnav {
  padding: 0;
  position: absolute;
  z-index: 11;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  float: right;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 9, ../sass/_navigation.scss */
.mainnav:hover {
  background: black;
}
/* line 11, ../sass/_navigation.scss */
.mainnav:hover .dropdown-menu {
  background: black;
}
/* line 15, ../sass/_navigation.scss */
.mainnav .dropdown-menu {
  float: none !important;
  left: auto;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  border-radius: 0;
}
/* line 21, ../sass/_navigation.scss */
.mainnav .dropdown-menu li {
  float: none;
  padding: 0;
}
/* line 24, ../sass/_navigation.scss */
.mainnav .dropdown-menu li a {
  font-size: 14px !important;
  padding: 7px 20px !important;
}
/* line 27, ../sass/_navigation.scss */
.mainnav .dropdown-menu li a:hover {
  background: none;
}
/* line 34, ../sass/_navigation.scss */
.mainnav ul {
  float: right;
}
/* line 40, ../sass/_navigation.scss */
.mainnav ul li.level1:last-child:hover a:hover {
  color: rgba(255, 255, 255, 0.8);
}
/* line 45, ../sass/_navigation.scss */
.mainnav ul li.level1:last-child a {
  padding: 20px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  border: solid 1px transparent;
  background: #ea1531;
  font-weight: 800;
  color: white;
}
/* line 56, ../sass/_navigation.scss */
.mainnav ul li.level1:last-child a .caret {
  border-top-color: white !important;
  border-bottom-color: white !important;
}
/* line 61, ../sass/_navigation.scss */
.mainnav ul li.level1:last-child a:hover {
  background: #a71326;
  color: white;
}
/* line 68, ../sass/_navigation.scss */
.mainnav ul li.level1:last-child .dropdown-menu {
  background: #ea1531;
}
/* line 71, ../sass/_navigation.scss */
.mainnav ul li.level1:last-child .dropdown-menu li a {
  font-weight: 300;
}
/* line 73, ../sass/_navigation.scss */
.mainnav ul li.level1:last-child .dropdown-menu li a:hover {
  background: transparent;
}
/* line 81, ../sass/_navigation.scss */
.mainnav ul li {
  float: left;
}
/* line 85, ../sass/_navigation.scss */
.mainnav ul li:hover > a, .mainnav ul li.active > a {
  color: #767676;
  text-decoration: none;
}
/* line 91, ../sass/_navigation.scss */
.mainnav ul li a {
  padding: 1.25em 1em;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 300;
}

/* line 104, ../sass/_navigation.scss */
.nav {
  margin: 0;
  padding: 0;
}

/* line 109, ../sass/_navigation.scss */
.tophat {
  position: relative;
  z-index: 1000;
}
/* line 112, ../sass/_navigation.scss */
.tophat .logo {
  position: absolute;
}
/* line 115, ../sass/_navigation.scss */
.tophat ul {
  float: right;
}
/* line 117, ../sass/_navigation.scss */
.tophat ul li {
  float: left;
  margin-right: 1em;
}
/* line 120, ../sass/_navigation.scss */
.tophat ul li:last-child {
  margin-right: 0;
}
/* line 123, ../sass/_navigation.scss */
.tophat ul li a {
  color: #6276b3;
  font-size: 12px;
}
/* line 126, ../sass/_navigation.scss */
.tophat ul li a:hover {
  color: white;
}

/* General styles for all menus */
/* line 135, ../sass/_navigation.scss */
.cbp-spmenu {
  background: #444444;
  position: fixed;
}

/* line 141, ../sass/_navigation.scss */
.cbp-spmenu a {
  display: block;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
}

/* line 148, ../sass/_navigation.scss */
.cbp-spmenu a:hover {
  background: #0087d5;
}

/* line 152, ../sass/_navigation.scss */
.cbp-spmenu a:active {
  background: #0087d5;
}

/* Orientation-dependent styles for the content of the menu */
/* line 158, ../sass/_navigation.scss */
.cbp-spmenu-vertical {
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
}

/* line 165, ../sass/_navigation.scss */
.cbp-spmenu-vertical a {
  border-bottom: 1px solid black;
  padding: 10px;
}

/* line 170, ../sass/_navigation.scss */
.cbp-spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

/* line 178, ../sass/_navigation.scss */
.cbp-spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}

/* line 184, ../sass/_navigation.scss */
.cbp-spmenu-horizontal a {
  float: left;
  width: 20%;
  padding: 0.8em;
  border-left: 1px solid #258ecd;
}

/* Vertical menu that slides from the left or right */
/* line 193, ../sass/_navigation.scss */
.cbp-spmenu-left {
  left: -240px;
}

/* line 197, ../sass/_navigation.scss */
.cbp-spmenu-right {
  right: -240px;
}

/* line 201, ../sass/_navigation.scss */
.cbp-spmenu-left.cbp-spmenu-open {
  left: 0px;
}

/* line 205, ../sass/_navigation.scss */
.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Horizontal menu that slides from the top or bottom */
/* line 211, ../sass/_navigation.scss */
.cbp-spmenu-top {
  top: -150px;
}

/* line 215, ../sass/_navigation.scss */
.cbp-spmenu-bottom {
  bottom: -150px;
}

/* line 219, ../sass/_navigation.scss */
.cbp-spmenu-top.cbp-spmenu-open {
  top: 0px;
}

/* line 223, ../sass/_navigation.scss */
.cbp-spmenu-bottom.cbp-spmenu-open {
  bottom: 0px;
}

/* Push classes applied to the body */
/* line 229, ../sass/_navigation.scss */
body {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 235, ../sass/_navigation.scss */
.cbp-spmenu-push-toright {
  left: 240px;
}

/* line 239, ../sass/_navigation.scss */
.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */
/* line 246, ../sass/_navigation.scss */
.cbp-spmenu,
body {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  /* line 256, ../sass/_navigation.scss */
  .cbp-spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  /* line 261, ../sass/_navigation.scss */
  .cbp-spmenu-top {
    top: -110px;
  }

  /* line 265, ../sass/_navigation.scss */
  .cbp-spmenu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  /* line 273, ../sass/_navigation.scss */
  .cbp-spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  /* line 279, ../sass/_navigation.scss */
  .cbp-spmenu-left,
  .cbp-spmenu-push-toleft {
    left: -190px;
  }

  /* line 283, ../sass/_navigation.scss */
  .cbp-spmenu-right {
    right: -190px;
  }

  /* line 287, ../sass/_navigation.scss */
  .cbp-spmenu-push-toright {
    left: 190px;
  }
}
/* line 293, ../sass/_navigation.scss */
.cbp-spmenu #close {
  display: inline-block;
  border: 0;
  font-size: 28px;
}
/* line 299, ../sass/_navigation.scss */
.cbp-spmenu .mnav-social li {
  float: left;
  display: inline;
}
/* line 301, ../sass/_navigation.scss */
.cbp-spmenu .mnav-social li a {
  border-bottom: 0;
}
/* line 308, ../sass/_navigation.scss */
.cbp-spmenu .mnav-tophat {
  margin-top: 1em;
}
/* line 311, ../sass/_navigation.scss */
.cbp-spmenu .mnav-tophat li a {
  font-size: 14px;
  border-bottom: 0;
  color: #ccc;
  padding: 5px 10px;
}

/* line 322, ../sass/_navigation.scss */
.cbp-spmenu .dropdown-menu {
  float: none;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: none;
  border: none;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
/* line 333, ../sass/_navigation.scss */
.cbp-spmenu .dropdown-menu li a {
  color: white;
}

/* line 340, ../sass/_navigation.scss */
.dropdown-menu {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

/* line 345, ../sass/_navigation.scss */
.open .caret {
  border-top-color: #ea1531 !important;
  border-bottom-color: #ea1531 !important;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

/* line 355, ../sass/_navigation.scss */
.caret {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

/* Animations */
/* line 3, ../sass/_animations.scss */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 8, ../sass/_animations.scss */
.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 12, ../sass/_animations.scss */
.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 16, ../sass/_animations.scss */
.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 20, ../sass/_animations.scss */
.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 24, ../sass/_animations.scss */
.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}

/* line 28, ../sass/_animations.scss */
.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* line 32, ../sass/_animations.scss */
.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

/* KEYFRAMES */
@-webkit-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes left-fast {
  /* line 43, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px;
  }

  /* line 44, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-moz-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-o-keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@keyframes right-fast {
  /* line 48, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px;
  }

  /* line 49, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0;
  }
}

@-webkit-keyframes roll-in-left {
  /* line 53, ../sass/_animations.scss */
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg);
  }

  /* line 54, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-moz-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-o-keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@keyframes up {
  /* line 58, ../sass/_animations.scss */
  0% {
    bottom: -185px;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    bottom: 0px;
  }
}

@-webkit-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-moz-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-o-keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@keyframes down {
  /* line 63, ../sass/_animations.scss */
  0% {
    bottom: 0px;
  }

  /* line 64, ../sass/_animations.scss */
  100% {
    bottom: -185px;
  }
}

@-webkit-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-moz-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@-o-keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

@keyframes fade-in {
  /* line 69, ../sass/_animations.scss */
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  /* line 70, ../sass/_animations.scss */
  100% {
    opacity: 1;
    filter: alpha(opacity=1);
  }
}

/* SENCHA ANIMATIONS */
/* Contact Form */
/* line 2, ../sass/_forms.scss */
.main-form {
  position: relative;
}

/* line 7, ../sass/_forms.scss */
.main-form:before,
.main-form:after {
  content: " ";
  display: table;
}

/* line 11, ../sass/_forms.scss */
.main-form:after {
  clear: both;
}

/* line 15, ../sass/_forms.scss */
.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  color: #444444;
}

/* line 27, ../sass/_forms.scss */
.main-form input,
.main-form textarea,
.main-form select {
  font-family: "Roboto Slab", serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 2px 10px;
  color: #444444;
  display: block;
  width: 100%;
  background: #ebebeb;
  height: 80px;
}

/* line 40, ../sass/_forms.scss */
.main-form input,
.main-form textarea {
  border: 0px;
  border-radius: 0 !important;
  box-shadow: none;
}

/* line 47, ../sass/_forms.scss */
.main-form textarea {
  min-height: 200px;
}

/* line 54, ../sass/_forms.scss */
.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #444444;
}

/* line 59, ../sass/_forms.scss */
.main-form select:focus {
  outline: none;
}

/* line 63, ../sass/_forms.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic;
}

/* line 68, ../sass/_forms.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic;
}

/* line 73, ../sass/_forms.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic;
}

/* line 78, ../sass/_forms.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic;
}

/* line 83, ../sass/_forms.scss */
.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both;
}

/* line 89, ../sass/_forms.scss */
.main-form input.cbp-mc-submit {
  background: #444444;
  border: none;
  color: white;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 1em 0;
  font-weight: 100;
}

/* line 104, ../sass/_forms.scss */
.main-form input.cbp-mc-submit:hover {
  background: #142e4a;
}

/* line 108, ../sass/_forms.scss */
#nospam, .nospam {
  display: none;
}

/* line 112, ../sass/_forms.scss */
.thumbs {
  width: 47%;
  margin: 1%;
  float: left;
}
/* line 116, ../sass/_forms.scss */
.thumbs img {
  width: 100%;
}

/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 13, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 20, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* line 24, ../sass/_smallest.scss */
body {
  padding: 0;
}

/* line 27, ../sass/_smallest.scss */
.terrain {
  background: #2a3f82 url("/resources/img/terrain-bg.png") repeat;
}

/* MAIN */
/* line 33, ../sass/_smallest.scss */
section {
  padding: 2em;
}

/* line 39, ../sass/_smallest.scss */
.landing {
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
/* line 41, ../sass/_smallest.scss */
.landing .tophat .row-fluid {
  padding: 1em 0;
}
/* line 43, ../sass/_smallest.scss */
.landing .tophat .row-fluid ul {
  margin: 0;
}
/* line 48, ../sass/_smallest.scss */
.landing .landingTitle {
  color: #8a99c9;
  float: left;
  margin-bottom: 0;
}
/* line 56, ../sass/_smallest.scss */
.landing .pagetitle {
  border-bottom: 0;
  padding: 0;
}
/* line 59, ../sass/_smallest.scss */
.landing .pagetitle h1, .landing .pagetitle h2 {
  color: white;
}
/* line 63, ../sass/_smallest.scss */
.landing .slider-gallery {
  padding: 0;
  background: black;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}
/* line 68, ../sass/_smallest.scss */
.landing .slider-gallery li {
  border-right: solid 1px white;
}
/* line 69, ../sass/_smallest.scss */
.landing .slider-gallery li img {
  opacity: 0.4;
  filter: alpha(opacity=0.4);
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 76, ../sass/_smallest.scss */
.landing .slider-gallery li:hover img {
  opacity: 1;
  filter: alpha(opacity=1);
}

/* line 84, ../sass/_smallest.scss */
.logo {
  width: 80px;
}

/* line 89, ../sass/_smallest.scss */
.hero {
  background-size: cover;
  display: table;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 8em 1em 4em;
}
/* line 96, ../sass/_smallest.scss */
.hero .overlay {
  background: url("/resources/img/bg.png") repeat;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 700px;
  left: 0;
}
/* line 105, ../sass/_smallest.scss */
.hero .media {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
}
/* line 110, ../sass/_smallest.scss */
.hero .media video {
  width: auto;
  display: inline-block;
  position: absolute;
  bottom: -90px;
}
/* line 117, ../sass/_smallest.scss */
.hero .promo-outer {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 10;
}
/* line 125, ../sass/_smallest.scss */
.hero .promo .headline {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 20px;
}
/* line 129, ../sass/_smallest.scss */
.hero .promo .headline h1 {
  color: white;
  display: inline-block;
  font-size: 28px;
  text-transform: none;
}

/* line 140, ../sass/_smallest.scss */
.media {
  margin: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

/* line 147, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: auto;
}
/* line 150, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 155, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 162, ../sass/_smallest.scss */
.stats .span4 {
  text-align: center;
}
/* line 164, ../sass/_smallest.scss */
.stats .span4 p {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}
/* line 169, ../sass/_smallest.scss */
.stats .span4 h2 {
  font-size: 50px;
  font-weight: 800;
  color: #6276b3;
}

/* line 178, ../sass/_smallest.scss */
.grid3 {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  border-bottom: solid 1px white;
}
/* line 326, ../sass/_mixins.scss */
.grid3:nth-child(n) {
  margin-bottom: 0.1%;
  margin-right: 0.1%;
}
/* line 330, ../sass/_mixins.scss */
.grid3:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 186, ../sass/_smallest.scss */
.grid3:hover .race, .grid3.hover_effect .race {
  margin-left: -60%;
}

/* line 193, ../sass/_smallest.scss */
.m-menu {
  padding: 10px;
  background: #2a3f82;
  color: white;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1000;
  font-size: 25px;
}
/* line 202, ../sass/_smallest.scss */
.m-menu:hover, .m-menu:active {
  color: #0087d5;
}

/* line 207, ../sass/_smallest.scss */
.races {
  padding: 0;
  border-top: solid 1px white;
}

/* line 212, ../sass/_smallest.scss */
.race {
  position: relative;
  padding: 6em 0;
  text-align: center;
  background-size: cover;
  z-index: 3;
  width: 100%;
  background-color: black;
  overflow: hidden;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 222, ../sass/_smallest.scss */
.race .overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 231, ../sass/_smallest.scss */
.race h3, .race p {
  position: relative;
  z-index: 15;
}
/* line 235, ../sass/_smallest.scss */
.race h3 {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  text-transform: uppercase;
}
/* line 241, ../sass/_smallest.scss */
.race p {
  color: #f6ff00;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 300;
}
/* line 247, ../sass/_smallest.scss */
.race h5 {
  color: white;
  font-size: 14px;
  font-style: italic;
  position: relative;
  z-index: 10;
}

/* line 258, ../sass/_smallest.scss */
.race-info {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 60%;
  padding: 2em;
}
/* line 265, ../sass/_smallest.scss */
.race-info .race-name {
  border-bottom: 1px solid #0087d5;
  margin-bottom: 1em;
}
/* line 268, ../sass/_smallest.scss */
.race-info .race-name h3 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 1;
  color: black;
  margin: 0;
  padding: 0;
}
/* line 277, ../sass/_smallest.scss */
.race-info .race-name p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
/* line 284, ../sass/_smallest.scss */
.race-info p {
  font-size: 12px;
}
/* line 287, ../sass/_smallest.scss */
.race-info .button {
  text-align: center;
  width: 100%;
}

/* SPONSORS */
/* line 297, ../sass/_smallest.scss */
.sponsors {
  padding: 0;
}
/* line 299, ../sass/_smallest.scss */
.sponsors ul {
  text-align: center;
}
/* line 302, ../sass/_smallest.scss */
.sponsors li {
  display: inline;
  margin-right: 2zem;
}

/* UPDATES */
/* COLUMNS */
/* line 313, ../sass/_smallest.scss */
.col2 {
  width: 100%;
  float: left;
}
/* line 326, ../sass/_mixins.scss */
.col2:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col2:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* FOOTER */
/* BUTTON */
/* line 332, ../sass/_smallest.scss */
.callout ul {
  padding: 0;
  margin: 0;
}
/* line 336, ../sass/_smallest.scss */
.callout li {
  text-align: center;
  height: 33.333333%;
  overflow: hidden;
  background-size: cover;
  position: relative;
}
/* line 343, ../sass/_smallest.scss */
.callout li:hover .overlay {
  background: rgba(0, 0, 0, 0.5);
}
/* line 346, ../sass/_smallest.scss */
.callout li:hover .ico-arrow-right:before {
  color: #f6ff00;
  right: 35px;
  font-size: 30px;
}
/* line 352, ../sass/_smallest.scss */
.callout li h4 {
  color: white;
}
/* line 355, ../sass/_smallest.scss */
.callout li p {
  color: #f6ff00;
  max-width: 60%;
  margin: auto;
  line-height: 1.1;
}
/* line 363, ../sass/_smallest.scss */
.callout div {
  z-index: 100;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 369, ../sass/_smallest.scss */
.callout .ico-arrow-right:before {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  color: transparent;
  position: absolute;
  right: 20px;
  top: 40%;
  font-size: 25px;
  scale: 20%;
}
/* line 379, ../sass/_smallest.scss */
.callout .overlay {
  position: absolute;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  z-index: 1;
}

/* line 391, ../sass/_smallest.scss */
.callout ul {
  height: 650px;
}

/* line 397, ../sass/_smallest.scss */
#race .video-row {
  border-top: solid 0px #dbdbdb;
  border-bottom: solid 1px #dbdbdb;
  margin-bottom: 2em;
  margin-top: 0;
}

/* line 407, ../sass/_smallest.scss */
.news {
  padding: 2em 4em;
}
/* line 409, ../sass/_smallest.scss */
.news h4 {
  color: #cccccc;
}
/* line 412, ../sass/_smallest.scss */
.news li {
  padding: 20px 0;
  border-bottom: 1px solid #6276b3;
  margin-bottom: 1em;
}
/* line 416, ../sass/_smallest.scss */
.news li p {
  color: #cccccc;
  font-size: 18px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 425, ../sass/_smallest.scss */
.news li h5 {
  margin-bottom: 10px;
}
/* line 430, ../sass/_smallest.scss */
.news li a:hover p {
  color: white;
}

/* line 438, ../sass/_smallest.scss */
[class^="col"] {
  float: left;
  width: 100%;
}
/* line 326, ../sass/_mixins.scss */
[class^="col"]:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
[class^="col"]:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 446, ../sass/_smallest.scss */
.main-footer {
  background: #29292a;
  padding: 2em;
  text-align: center;
}
/* line 450, ../sass/_smallest.scss */
.main-footer a {
  color: #cdcdcd;
}
/* line 453, ../sass/_smallest.scss */
.main-footer .avidity {
  border-top: solid 1px #3D3D3D;
  padding-top: 1em;
  margin-top: 1em;
}
/* line 458, ../sass/_smallest.scss */
.main-footer .avidity p {
  font-size: 11px;
}
/* line 462, ../sass/_smallest.scss */
.main-footer .button {
  background: #5b5b5b;
  color: #29292a;
}
/* line 467, ../sass/_smallest.scss */
.main-footer ul.social li {
  display: inline;
  margin-right: 1em;
}
/* line 470, ../sass/_smallest.scss */
.main-footer ul.social li a {
  font-size: 18px;
}
/* line 477, ../sass/_smallest.scss */
.main-footer h3 {
  font-weight: 800;
  font-family: "Roboto Slab", serif;
}
/* line 481, ../sass/_smallest.scss */
.main-footer li {
  margin-bottom: 12px;
}
/* line 483, ../sass/_smallest.scss */
.main-footer li a {
  color: #474747;
}
/* line 485, ../sass/_smallest.scss */
.main-footer li a:hover {
  color: #5b5b5b;
}

/* line 493, ../sass/_smallest.scss */
.interior .hero {
  height: 250px;
}

/* line 497, ../sass/_smallest.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 505, ../sass/_smallest.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 513, ../sass/_smallest.scss */
.content {
  padding: 2em;
}

/* line 517, ../sass/_smallest.scss */
.main-content {
  padding: 2em 0;
}

/* line 521, ../sass/_smallest.scss */
.section-title {
  border-bottom: 5px solid #0087d5;
  padding: 0 0 1em;
  margin-bottom: 2em;
}
/* line 525, ../sass/_smallest.scss */
.section-title h3 {
  text-transform: none;
  color: #0087d5;
  margin: 0 0 10px;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}
/* line 533, ../sass/_smallest.scss */
.section-title .social {
  vertical-align: baseline;
  position: relative;
  display: inline-block;
}
/* line 538, ../sass/_smallest.scss */
.section-title .social .ico-facebook2, .section-title .social .ico-facebook2:visited {
  color: rgba(67, 110, 163, 0.4);
}
/* line 540, ../sass/_smallest.scss */
.section-title .social .ico-facebook2:hover, .section-title .social .ico-facebook2:visited:hover {
  color: #436ea3;
}
/* line 544, ../sass/_smallest.scss */
.section-title .social .ico-twitter2, .section-title .social .ico-twitter2:visited {
  color: rgba(59, 143, 192, 0.4);
}
/* line 546, ../sass/_smallest.scss */
.section-title .social .ico-twitter2:hover, .section-title .social .ico-twitter2:visited:hover {
  color: #3b8fc0;
}
/* line 550, ../sass/_smallest.scss */
.section-title .social p, .section-title .social ul {
  display: inline;
  vertical-align: text-bottom;
}
/* line 554, ../sass/_smallest.scss */
.section-title .social p {
  margin-right: 1em;
}
/* line 558, ../sass/_smallest.scss */
.section-title .social ul li {
  display: inline;
}

/* line 565, ../sass/_smallest.scss */
.video-row {
  padding: 2em 0;
}

/* line 569, ../sass/_smallest.scss */
.pagetitle {
  padding: 2em 0em 1em;
  width: 90%;
  border-bottom: solid 1px #dbdbdb;
  margin-bottom: 2em;
}
/* line 574, ../sass/_smallest.scss */
.pagetitle h1, .pagetitle h2 {
  line-height: 1;
  padding: 0;
  margin: 0;
}
/* line 579, ../sass/_smallest.scss */
.pagetitle h1 {
  color: #0087d5;
  font-size: 50px;
  font-weight: 300;
}
/* line 584, ../sass/_smallest.scss */
.pagetitle h2 {
  font-size: 25px;
  color: #606061;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* line 593, ../sass/_smallest.scss */
.grid4 {
  width: 50%;
}
/* line 326, ../sass/_mixins.scss */
.grid4:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.grid4:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 597, ../sass/_smallest.scss */
.nav.nav-tabs {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}

/* line 604, ../sass/_smallest.scss */
.race-tabs {
  text-align: center;
}
/* line 609, ../sass/_smallest.scss */
.race-tabs li:nth-child(n+1) a {
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}
/* line 614, ../sass/_smallest.scss */
.race-tabs li:nth-child(odd) a {
  border-right: solid 1px rgba(255, 255, 255, 0.4);
}
/* line 619, ../sass/_smallest.scss */
.race-tabs li:last-child a {
  border-right: 0;
}
/* line 624, ../sass/_smallest.scss */
.race-tabs li.active a {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  color: white;
}
/* line 632, ../sass/_smallest.scss */
.race-tabs a {
  padding: 30px 0;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.4);
}
/* line 636, ../sass/_smallest.scss */
.race-tabs a:hover {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}
/* line 640, ../sass/_smallest.scss */
.race-tabs a span {
  display: block;
  margin-top: 3em;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

/* line 650, ../sass/_smallest.scss */
.map {
  margin-bottom: 2em;
}

/* line 655, ../sass/_smallest.scss */
.gallery {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 658, ../sass/_smallest.scss */
.gallery li {
  width: 50%;
  margin-bottom: 1em;
  display: inline-block;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  filter: alpha(opacity=0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 326, ../sass/_mixins.scss */
.gallery li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.gallery li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 670, ../sass/_smallest.scss */
.gallery li:hover {
  opacity: 1;
  filter: alpha(opacity=1);
}
/* line 672, ../sass/_smallest.scss */
.gallery li:hover .meta {
  bottom: 0;
}
/* line 676, ../sass/_smallest.scss */
.gallery li .meta {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  display: table;
}
/* line 684, ../sass/_smallest.scss */
.gallery li .meta a {
  display: table-cell;
  vertical-align: middle;
}
/* line 690, ../sass/_smallest.scss */
.gallery li .meta a h1 {
  font-size: 21px;
}

/* line 701, ../sass/_smallest.scss */
.raceDate p {
  margin: 0;
  font-size: 12px;
  color: white;
}

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
/* line 12, ../sass/_fancybox.scss */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

/* line 20, ../sass/_fancybox.scss */
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}

/* line 27, ../sass/_fancybox.scss */
.fancybox-skin {
  padding: 0 !important;
  position: relative;
  color: #444;
  text-shadow: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 37, ../sass/_fancybox.scss */
.fancybox-opened {
  z-index: 8030;
}

/* line 41, ../sass/_fancybox.scss */
.fancybox-opened .fancybox-skin {
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

/* line 47, ../sass/_fancybox.scss */
.fancybox-outer, .fancybox-inner {
  position: relative;
}

/* line 51, ../sass/_fancybox.scss */
.fancybox-inner {
  overflow: hidden;
}

/* line 55, ../sass/_fancybox.scss */
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

/* line 59, ../sass/_fancybox.scss */
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

/* line 67, ../sass/_fancybox.scss */
.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

/* line 73, ../sass/_fancybox.scss */
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

/* line 78, ../sass/_fancybox.scss */
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url("/resources/img/fancybox_sprite.png");
}

/* line 82, ../sass/_fancybox.scss */
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

/* line 94, ../sass/_fancybox.scss */
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("fancybox_loading.gif") center center no-repeat;
}

/* line 100, ../sass/_fancybox.scss */
.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

/* line 110, ../sass/_fancybox.scss */
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent;
  /* helps IE */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

/* line 122, ../sass/_fancybox.scss */
.fancybox-prev {
  left: 0;
}

/* line 126, ../sass/_fancybox.scss */
.fancybox-next {
  right: 0;
}

/* line 130, ../sass/_fancybox.scss */
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
}

/* line 140, ../sass/_fancybox.scss */
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

/* line 145, ../sass/_fancybox.scss */
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

/* line 150, ../sass/_fancybox.scss */
.fancybox-nav:hover span {
  visibility: visible;
}

/* line 154, ../sass/_fancybox.scss */
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

/* Overlay helper */
/* line 166, ../sass/_fancybox.scss */
.fancybox-lock {
  overflow: hidden !important;
  width: auto;
}

/* line 171, ../sass/_fancybox.scss */
.fancybox-lock body {
  overflow: hidden !important;
}

/* line 175, ../sass/_fancybox.scss */
.fancybox-lock-test {
  overflow-y: hidden !important;
}

/* line 179, ../sass/_fancybox.scss */
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.8);
}

/* line 189, ../sass/_fancybox.scss */
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

/* line 195, ../sass/_fancybox.scss */
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper */
/* line 202, ../sass/_fancybox.scss */
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

/* line 210, ../sass/_fancybox.scss */
.fancybox-opened .fancybox-title {
  visibility: visible;
}

/* line 214, ../sass/_fancybox.scss */
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

/* line 223, ../sass/_fancybox.scss */
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

/* line 239, ../sass/_fancybox.scss */
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

/* line 245, ../sass/_fancybox.scss */
.fancybox-title-inside-wrap {
  padding-top: 10px;
}

/* line 249, ../sass/_fancybox.scss */
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 264, ../sass/_fancybox.scss */
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url("fancybox_sprite@2x.png");
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  /* line 269, ../sass/_fancybox.scss */
  #fancybox-loading div {
    background-image: url("fancybox_loading@2x.gif");
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
/* line 18, ../sass/_flexslider.scss */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

/* line 21, ../sass/_flexslider.scss */
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
/* line 39, ../sass/_flexslider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 40, ../sass/_flexslider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
/* line 41, ../sass/_flexslider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 42, ../sass/_flexslider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* Clearfix for the .slides element */
/* line 45, ../sass/_flexslider.scss */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 46, ../sass/_flexslider.scss */
html[xmlns] .slides {
  display: block;
}

/* line 47, ../sass/_flexslider.scss */
* html .slides {
  height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
/* line 52, ../sass/_flexslider.scss */
.no-js .slides > li:first-child {
  display: block;
}

/* FlexSlider Default Theme
*********************************/
/* line 56, ../sass/_flexslider.scss */
.flexslider {
  position: relative;
}
/* line 58, ../sass/_flexslider.scss */
.flexslider li img {
  width: auto !important;
}

/* line 63, ../sass/_flexslider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 65, ../sass/_flexslider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 66, ../sass/_flexslider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 67, ../sass/_flexslider.scss */
.carousel li {
  margin-right: 5px;
}

/* Direction Nav */
/* line 70, ../sass/_flexslider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 71, ../sass/_flexslider.scss */
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

/* line 72, ../sass/_flexslider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
}

/* line 73, ../sass/_flexslider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

/* line 74, ../sass/_flexslider.scss */
.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px;
}

/* line 75, ../sass/_flexslider.scss */
.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px;
}

/* line 76, ../sass/_flexslider.scss */
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1;
}

/* line 77, ../sass/_flexslider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/* line 78, ../sass/_flexslider.scss */
.flex-direction-nav a:before {
  font-family: 'icomoon';
  font-size: 40px;
  display: inline-block;
  content: "\e60d";
}

/* line 79, ../sass/_flexslider.scss */
.flex-direction-nav a.flex-next:before {
  content: "\e60c";
}

/* Pause/Play */
/* line 82, ../sass/_flexslider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

/* line 83, ../sass/_flexslider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

/* line 84, ../sass/_flexslider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}

/* line 85, ../sass/_flexslider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* Control Nav */
/* line 88, ../sass/_flexslider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

/* line 89, ../sass/_flexslider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 90, ../sass/_flexslider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

/* line 91, ../sass/_flexslider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 92, ../sass/_flexslider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 94, ../sass/_flexslider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 95, ../sass/_flexslider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 96, ../sass/_flexslider.scss */
.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer;
}

/* line 97, ../sass/_flexslider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 98, ../sass/_flexslider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: 860px) {
  /* line 101, ../sass/_flexslider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  /* line 102, ../sass/_flexslider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
@media (min-width: 480px) {
  /* line 1, ../sass/_480.scss */
  section {
    padding: 2em 0;
  }

  /* line 7, ../sass/_480.scss */
  .grid4 {
    width: 25%;
  }
  /* line 326, ../sass/_mixins.scss */
  .grid4:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .grid4:nth-child(4n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  /* line 13, ../sass/_480.scss */
  .race-tabs li a {
    border-right: solid 1px;
    border-bottom: 0;
  }
  /* line 18, ../sass/_480.scss */
  .race-tabs li:last-child a {
    border: 0;
  }
}
@media (min-width: 768px) {
  /* line 1, ../sass/_768.scss */
  section {
    padding: 2em 0;
  }

  /* line 5, ../sass/_768.scss */
  .col2 {
    width: 50%;
  }
  /* line 326, ../sass/_mixins.scss */
  .col2:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .col2:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  /* line 9, ../sass/_768.scss */
  .grid3 {
    width: 49.95%;
  }
  /* line 326, ../sass/_mixins.scss */
  .grid3:nth-child(n) {
    margin-bottom: 0.1%;
    margin-right: 0.1%;
  }
  /* line 330, ../sass/_mixins.scss */
  .grid3:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  /* line 14, ../sass/_768.scss */
  .races .grid3 {
    border-top: 0;
    border-bottom: 0;
  }
  /* line 17, ../sass/_768.scss */
  .races .grid3:nth-child(1n+1) {
    border-right: solid 1px white;
  }

  /* line 23, ../sass/_768.scss */
  .news, .callout ul {
    height: 800px;
  }

  /* line 27, ../sass/_768.scss */
  .col4 {
    width: 50%;
  }
  /* line 326, ../sass/_mixins.scss */
  .col4:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .col4:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  /* line 31, ../sass/_768.scss */
  .col3 {
    width: 33.33333%;
  }
  /* line 326, ../sass/_mixins.scss */
  .col3:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .col3:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  /* line 35, ../sass/_768.scss */
  .main-footer {
    text-align: left;
  }
  /* line 38, ../sass/_768.scss */
  .main-footer .col4:last-child {
    padding: 3em 0px 3em 20px;
  }

  /* line 45, ../sass/_768.scss */
  .logo {
    width: auto;
  }

  /* line 50, ../sass/_768.scss */
  .hero {
    padding: 8em 12em 4em;
  }
  /* line 54, ../sass/_768.scss */
  .hero .promo .headline h1 {
    font-size: 60px;
  }

  /* line 62, ../sass/_768.scss */
  .pagetitle h1 {
    font-size: 80px;
  }
  /* line 65, ../sass/_768.scss */
  .pagetitle h2 {
    font-size: 30px;
  }

  /* line 71, ../sass/_768.scss */
  .section-title h3 {
    font-size: 40px;
    float: left;
  }
  /* line 75, ../sass/_768.scss */
  .section-title .social {
    float: right;
  }

  /* line 81, ../sass/_768.scss */
  .interior .hero {
    height: 450px;
  }

  /* line 87, ../sass/_768.scss */
  .gallery li {
    width: 33.33333%;
  }
  /* line 326, ../sass/_mixins.scss */
  .gallery li:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .gallery li:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 940px) {
  /* line 1, ../sass/_940.scss */
  .grid3 {
    width: 33.26667%;
  }
  /* line 326, ../sass/_mixins.scss */
  .grid3:nth-child(n) {
    margin-bottom: 0.1%;
    margin-right: 0.1%;
  }
  /* line 330, ../sass/_mixins.scss */
  .grid3:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  /* line 7, ../sass/_940.scss */
  .races .grid3 {
    border: 0 !important;
  }

  /* line 12, ../sass/_940.scss */
  .news, .callout ul {
    height: 650px;
  }

  /* line 16, ../sass/_940.scss */
  .col4 {
    width: 25%;
  }
  /* line 326, ../sass/_mixins.scss */
  .col4:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .col4:nth-child(4n) {
    margin-right: 0;
    margin-bottom: 0;
  }

  /* line 22, ../sass/_940.scss */
  .main-footer .col4:nth-child(3) {
    border-right: solid 1px #5b5b5b;
    border-left: solid 1px #5b5b5b;
  }

  /* line 29, ../sass/_940.scss */
  .hero {
    height: 470px;
    padding: 0;
  }

  /* line 36, ../sass/_940.scss */
  .home .hero {
    height: 600px;
  }

  /* line 42, ../sass/_940.scss */
  .landing .hero {
    height: 470px;
  }

  /* line 49, ../sass/_940.scss */
  .stats .span4 h2 {
    font-size: 99px;
  }

  /* line 55, ../sass/_940.scss */
  .content {
    padding: 0em 0em 5em;
  }

  /* line 59, ../sass/_940.scss */
  .pagetitle {
    width: 100%;
  }

  /* line 64, ../sass/_940.scss */
  .race-tabs a {
    padding: 60px 0;
    font-size: 35px;
  }
  /* line 69, ../sass/_940.scss */
  .race-tabs span {
    font-size: 15px;
  }

  /* line 76, ../sass/_940.scss */
  .gallery li {
    width: 20%;
  }
  /* line 326, ../sass/_mixins.scss */
  .gallery li:nth-child(n) {
    margin-bottom: 0;
    margin-right: 0;
  }
  /* line 330, ../sass/_mixins.scss */
  .gallery li:nth-child(5n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1025px) {
  /* line 2, ../sass/_1025.scss */
  .hero .media {
    display: inline-block;
    height: 600px;
  }

  /* line 11, ../sass/_1025.scss */
  .interior .hero {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  /* line 4, ../sass/_1200.scss */
  .hero .media video {
    width: 100%;
  }
}
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
