/* line 26, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  *zoom: 1;
}
/* line 28, ../sass/_mixins.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
/* line 32, ../sass/_mixins.scss */
.cf:after {
  clear: both;
}

/* Fluid Grid
-----------------
*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 18, ../sass/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 19, ../sass/_reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 20, ../sass/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 21, ../sass/_reset.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 33, ../sass/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 35, ../sass/_reset.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/_reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
/* line 51, ../sass/_reset.scss */
a {
  color: #00e;
}

/* line 52, ../sass/_reset.scss */
a:hover {
  color: #06e;
}

/* line 53, ../sass/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 56, ../sass/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 63, ../sass/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 65, ../sass/_reset.scss */
b, strong {
  font-weight: bold;
}

/* line 67, ../sass/_reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 69, ../sass/_reset.scss */
dfn {
  font-style: italic;
}

/* line 71, ../sass/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 73, ../sass/_reset.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 75, ../sass/_reset.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 78, ../sass/_reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 81, ../sass/_reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 83, ../sass/_reset.scss */
q {
  quotes: none;
}

/* line 84, ../sass/_reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 86, ../sass/_reset.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 89, ../sass/_reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 90, ../sass/_reset.scss */
sup {
  top: -0.5em;
}

/* line 91, ../sass/_reset.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 98, ../sass/_reset.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 99, ../sass/_reset.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 100, ../sass/_reset.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 112, ../sass/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 118, ../sass/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 125, ../sass/_reset.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 132, ../sass/_reset.scss */
form {
  margin: 0;
}

/* line 133, ../sass/_reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 136, ../sass/_reset.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 143, ../sass/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 151, ../sass/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 157, ../sass/_reset.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 165, ../sass/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 171, ../sass/_reset.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 177, ../sass/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 178, ../sass/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 179, ../sass/_reset.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 185, ../sass/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 192, ../sass/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 196, ../sass/_reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 203, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 204, ../sass/_reset.scss */
td {
  vertical-align: top;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 212, ../sass/_reset.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}

/* line 213, ../sass/_reset.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 216, ../sass/_reset.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 219, ../sass/_reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 222, ../sass/_reset.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 225, ../sass/_reset.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 228, ../sass/_reset.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 229, ../sass/_reset.scss */
.clearfix:after {
  clear: both;
}

/* line 230, ../sass/_reset.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 238, ../sass/_reset.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 239, ../sass/_reset.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 240, ../sass/_reset.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 241, ../sass/_reset.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 242, ../sass/_reset.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 243, ../sass/_reset.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 244, ../sass/_reset.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 245, ../sass/_reset.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 246, ../sass/_reset.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 248, ../sass/_reset.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 249, ../sass/_reset.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../sass/_smallest.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* RESPONSIVE IMAGES */
/* line 13, ../sass/_smallest.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
/* line 20, ../sass/_smallest.scss */
.lt-ie9 img {
  width: auto;
}

/* line 24, ../sass/_smallest.scss */
body {
  padding: 0;
}

/* line 27, ../sass/_smallest.scss */
.terrain {
  background: #2a3f82 url("/resources/img/terrain-bg.png") repeat;
}

/* MAIN */
/* line 33, ../sass/_smallest.scss */
section {
  padding: 2em;
}

/* line 39, ../sass/_smallest.scss */
.landing {
  background-position: center bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
/* line 41, ../sass/_smallest.scss */
.landing .tophat .row-fluid {
  padding: 1em 0;
}
/* line 43, ../sass/_smallest.scss */
.landing .tophat .row-fluid ul {
  margin: 0;
}
/* line 48, ../sass/_smallest.scss */
.landing .landingTitle {
  color: #8a99c9;
  float: left;
  margin-bottom: 0;
}
/* line 56, ../sass/_smallest.scss */
.landing .pagetitle {
  border-bottom: 0;
  padding: 0;
}
/* line 59, ../sass/_smallest.scss */
.landing .pagetitle h1, .landing .pagetitle h2 {
  color: white;
}
/* line 63, ../sass/_smallest.scss */
.landing .slider-gallery {
  padding: 0;
  background: black;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
}
/* line 68, ../sass/_smallest.scss */
.landing .slider-gallery li {
  border-right: solid 1px white;
}
/* line 69, ../sass/_smallest.scss */
.landing .slider-gallery li img {
  opacity: 0.4;
  filter: alpha(opacity=0.4);
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 76, ../sass/_smallest.scss */
.landing .slider-gallery li:hover img {
  opacity: 1;
  filter: alpha(opacity=1);
}

/* line 84, ../sass/_smallest.scss */
.logo {
  width: 80px;
}

/* line 89, ../sass/_smallest.scss */
.hero {
  background-size: cover;
  display: table;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 8em 1em 4em;
}
/* line 96, ../sass/_smallest.scss */
.hero .overlay {
  background: url("/resources/img/bg.png") repeat;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 700px;
  left: 0;
}
/* line 105, ../sass/_smallest.scss */
.hero .media {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1;
}
/* line 110, ../sass/_smallest.scss */
.hero .media video {
  width: auto;
  display: inline-block;
  position: absolute;
  bottom: -90px;
}
/* line 117, ../sass/_smallest.scss */
.hero .promo-outer {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 10;
}
/* line 125, ../sass/_smallest.scss */
.hero .promo .headline {
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 20px;
}
/* line 129, ../sass/_smallest.scss */
.hero .promo .headline h1 {
  color: white;
  display: inline-block;
  font-size: 28px;
  text-transform: none;
}

/* line 140, ../sass/_smallest.scss */
.media {
  margin: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}

/* line 147, ../sass/_smallest.scss */
.wrap {
  max-width: 940px;
  margin: auto;
}
/* line 150, ../sass/_smallest.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 155, ../sass/_smallest.scss */
.wrap:after {
  clear: both;
}

/* line 162, ../sass/_smallest.scss */
.stats .span4 {
  text-align: center;
}
/* line 164, ../sass/_smallest.scss */
.stats .span4 p {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}
/* line 169, ../sass/_smallest.scss */
.stats .span4 h2 {
  font-size: 50px;
  font-weight: 800;
  color: #6276b3;
}

/* line 178, ../sass/_smallest.scss */
.grid3 {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  border-bottom: solid 1px white;
}
/* line 326, ../sass/_mixins.scss */
.grid3:nth-child(n) {
  margin-bottom: 0.1%;
  margin-right: 0.1%;
}
/* line 330, ../sass/_mixins.scss */
.grid3:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 186, ../sass/_smallest.scss */
.grid3:hover .race, .grid3.hover_effect .race {
  margin-left: -60%;
}

/* line 193, ../sass/_smallest.scss */
.m-menu {
  padding: 10px;
  background: #2a3f82;
  color: white;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 1000;
  font-size: 25px;
}
/* line 202, ../sass/_smallest.scss */
.m-menu:hover, .m-menu:active {
  color: #0087d5;
}

/* line 207, ../sass/_smallest.scss */
.races {
  padding: 0;
  border-top: solid 1px white;
}

/* line 212, ../sass/_smallest.scss */
.race {
  position: relative;
  padding: 6em 0;
  text-align: center;
  background-size: cover;
  z-index: 3;
  width: 100%;
  background-color: black;
  overflow: hidden;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 222, ../sass/_smallest.scss */
.race .overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
/* line 231, ../sass/_smallest.scss */
.race h3, .race p {
  position: relative;
  z-index: 15;
}
/* line 235, ../sass/_smallest.scss */
.race h3 {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  text-transform: uppercase;
}
/* line 241, ../sass/_smallest.scss */
.race p {
  color: #f6ff00;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 300;
}
/* line 247, ../sass/_smallest.scss */
.race h5 {
  color: white;
  font-size: 14px;
  font-style: italic;
  position: relative;
  z-index: 10;
}

/* line 258, ../sass/_smallest.scss */
.race-info {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 60%;
  padding: 2em;
}
/* line 265, ../sass/_smallest.scss */
.race-info .race-name {
  border-bottom: 1px solid #0087d5;
  margin-bottom: 1em;
}
/* line 268, ../sass/_smallest.scss */
.race-info .race-name h3 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 1;
  color: black;
  margin: 0;
  padding: 0;
}
/* line 277, ../sass/_smallest.scss */
.race-info .race-name p {
  font-size: 12px;
  margin: 0;
  padding: 0;
}
/* line 284, ../sass/_smallest.scss */
.race-info p {
  font-size: 12px;
}
/* line 287, ../sass/_smallest.scss */
.race-info .button {
  text-align: center;
  width: 100%;
}

/* SPONSORS */
/* line 297, ../sass/_smallest.scss */
.sponsors {
  padding: 0;
}
/* line 299, ../sass/_smallest.scss */
.sponsors ul {
  text-align: center;
}
/* line 302, ../sass/_smallest.scss */
.sponsors li {
  display: inline;
  margin-right: 2zem;
}

/* UPDATES */
/* COLUMNS */
/* line 313, ../sass/_smallest.scss */
.col2 {
  width: 100%;
  float: left;
}
/* line 326, ../sass/_mixins.scss */
.col2:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col2:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* FOOTER */
/* BUTTON */
/* line 332, ../sass/_smallest.scss */
.callout ul {
  padding: 0;
  margin: 0;
}
/* line 336, ../sass/_smallest.scss */
.callout li {
  text-align: center;
  height: 33.333333%;
  overflow: hidden;
  background-size: cover;
  position: relative;
}
/* line 343, ../sass/_smallest.scss */
.callout li:hover .overlay {
  background: rgba(0, 0, 0, 0.5);
}
/* line 346, ../sass/_smallest.scss */
.callout li:hover .ico-arrow-right:before {
  color: #f6ff00;
  right: 35px;
  font-size: 30px;
}
/* line 352, ../sass/_smallest.scss */
.callout li h4 {
  color: white;
}
/* line 355, ../sass/_smallest.scss */
.callout li p {
  color: #f6ff00;
  max-width: 60%;
  margin: auto;
  line-height: 1.1;
}
/* line 363, ../sass/_smallest.scss */
.callout div {
  z-index: 100;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 369, ../sass/_smallest.scss */
.callout .ico-arrow-right:before {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  color: transparent;
  position: absolute;
  right: 20px;
  top: 40%;
  font-size: 25px;
  scale: 20%;
}
/* line 379, ../sass/_smallest.scss */
.callout .overlay {
  position: absolute;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  z-index: 1;
}

/* line 391, ../sass/_smallest.scss */
.callout ul {
  height: 650px;
}

/* line 397, ../sass/_smallest.scss */
#race .video-row {
  border-top: solid 0px #dbdbdb;
  border-bottom: solid 1px #dbdbdb;
  margin-bottom: 2em;
  margin-top: 0;
}

/* line 407, ../sass/_smallest.scss */
.news {
  padding: 2em 4em;
}
/* line 409, ../sass/_smallest.scss */
.news h4 {
  color: #cccccc;
}
/* line 412, ../sass/_smallest.scss */
.news li {
  padding: 20px 0;
  border-bottom: 1px solid #6276b3;
  margin-bottom: 1em;
}
/* line 416, ../sass/_smallest.scss */
.news li p {
  color: #cccccc;
  font-size: 18px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
/* line 425, ../sass/_smallest.scss */
.news li h5 {
  margin-bottom: 10px;
}
/* line 430, ../sass/_smallest.scss */
.news li a:hover p {
  color: white;
}

/* line 438, ../sass/_smallest.scss */
[class^="col"] {
  float: left;
  width: 100%;
}
/* line 326, ../sass/_mixins.scss */
[class^="col"]:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
[class^="col"]:nth-child(1n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 446, ../sass/_smallest.scss */
.main-footer {
  background: #29292a;
  padding: 2em;
  text-align: center;
}
/* line 450, ../sass/_smallest.scss */
.main-footer a {
  color: #cdcdcd;
}
/* line 453, ../sass/_smallest.scss */
.main-footer .avidity {
  border-top: solid 1px #3D3D3D;
  padding-top: 1em;
  margin-top: 1em;
}
/* line 458, ../sass/_smallest.scss */
.main-footer .avidity p {
  font-size: 11px;
}
/* line 462, ../sass/_smallest.scss */
.main-footer .button {
  background: #5b5b5b;
  color: #29292a;
}
/* line 467, ../sass/_smallest.scss */
.main-footer ul.social li {
  display: inline;
  margin-right: 1em;
}
/* line 470, ../sass/_smallest.scss */
.main-footer ul.social li a {
  font-size: 18px;
}
/* line 477, ../sass/_smallest.scss */
.main-footer h3 {
  font-weight: 800;
  font-family: "Roboto Slab", serif;
}
/* line 481, ../sass/_smallest.scss */
.main-footer li {
  margin-bottom: 12px;
}
/* line 483, ../sass/_smallest.scss */
.main-footer li a {
  color: #474747;
}
/* line 485, ../sass/_smallest.scss */
.main-footer li a:hover {
  color: #5b5b5b;
}

/* line 493, ../sass/_smallest.scss */
.interior .hero {
  height: 250px;
}

/* line 497, ../sass/_smallest.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 505, ../sass/_smallest.scss */
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 513, ../sass/_smallest.scss */
.content {
  padding: 2em;
}

/* line 517, ../sass/_smallest.scss */
.main-content {
  padding: 2em 0;
}

/* line 521, ../sass/_smallest.scss */
.section-title {
  border-bottom: 5px solid #0087d5;
  padding: 0 0 1em;
  margin-bottom: 2em;
}
/* line 525, ../sass/_smallest.scss */
.section-title h3 {
  text-transform: none;
  color: #0087d5;
  margin: 0 0 10px;
  font-size: 30px;
  font-family: "Roboto Slab", serif;
}
/* line 533, ../sass/_smallest.scss */
.section-title .social {
  vertical-align: baseline;
  position: relative;
  display: inline-block;
}
/* line 538, ../sass/_smallest.scss */
.section-title .social .ico-facebook2, .section-title .social .ico-facebook2:visited {
  color: rgba(67, 110, 163, 0.4);
}
/* line 540, ../sass/_smallest.scss */
.section-title .social .ico-facebook2:hover, .section-title .social .ico-facebook2:visited:hover {
  color: #436ea3;
}
/* line 544, ../sass/_smallest.scss */
.section-title .social .ico-twitter2, .section-title .social .ico-twitter2:visited {
  color: rgba(59, 143, 192, 0.4);
}
/* line 546, ../sass/_smallest.scss */
.section-title .social .ico-twitter2:hover, .section-title .social .ico-twitter2:visited:hover {
  color: #3b8fc0;
}
/* line 550, ../sass/_smallest.scss */
.section-title .social p, .section-title .social ul {
  display: inline;
  vertical-align: text-bottom;
}
/* line 554, ../sass/_smallest.scss */
.section-title .social p {
  margin-right: 1em;
}
/* line 558, ../sass/_smallest.scss */
.section-title .social ul li {
  display: inline;
}

/* line 565, ../sass/_smallest.scss */
.video-row {
  padding: 2em 0;
}

/* line 569, ../sass/_smallest.scss */
.pagetitle {
  padding: 2em 0em 1em;
  width: 90%;
  border-bottom: solid 1px #dbdbdb;
  margin-bottom: 2em;
}
/* line 574, ../sass/_smallest.scss */
.pagetitle h1, .pagetitle h2 {
  line-height: 1;
  padding: 0;
  margin: 0;
}
/* line 579, ../sass/_smallest.scss */
.pagetitle h1 {
  color: #0087d5;
  font-size: 50px;
  font-weight: 300;
}
/* line 584, ../sass/_smallest.scss */
.pagetitle h2 {
  font-size: 25px;
  color: #606061;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

/* line 593, ../sass/_smallest.scss */
.grid4 {
  width: 50%;
}
/* line 326, ../sass/_mixins.scss */
.grid4:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.grid4:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 597, ../sass/_smallest.scss */
.nav.nav-tabs {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}

/* line 604, ../sass/_smallest.scss */
.race-tabs {
  text-align: center;
}
/* line 609, ../sass/_smallest.scss */
.race-tabs li:nth-child(n+1) a {
  border-bottom: solid 1px rgba(255, 255, 255, 0.4);
}
/* line 614, ../sass/_smallest.scss */
.race-tabs li:nth-child(odd) a {
  border-right: solid 1px rgba(255, 255, 255, 0.4);
}
/* line 619, ../sass/_smallest.scss */
.race-tabs li:last-child a {
  border-right: 0;
}
/* line 624, ../sass/_smallest.scss */
.race-tabs li.active a {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.3);
  color: white;
}
/* line 632, ../sass/_smallest.scss */
.race-tabs a {
  padding: 30px 0;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.4);
}
/* line 636, ../sass/_smallest.scss */
.race-tabs a:hover {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}
/* line 640, ../sass/_smallest.scss */
.race-tabs a span {
  display: block;
  margin-top: 3em;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

/* line 650, ../sass/_smallest.scss */
.map {
  margin-bottom: 2em;
}

/* line 655, ../sass/_smallest.scss */
.gallery {
  margin: 0 !important;
  padding: 0 !important;
}
/* line 658, ../sass/_smallest.scss */
.gallery li {
  width: 50%;
  margin-bottom: 1em;
  display: inline-block;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  opacity: 0.8;
  filter: alpha(opacity=0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 326, ../sass/_mixins.scss */
.gallery li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.gallery li:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}
/* line 670, ../sass/_smallest.scss */
.gallery li:hover {
  opacity: 1;
  filter: alpha(opacity=1);
}
/* line 672, ../sass/_smallest.scss */
.gallery li:hover .meta {
  bottom: 0;
}
/* line 676, ../sass/_smallest.scss */
.gallery li .meta {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  display: table;
}
/* line 684, ../sass/_smallest.scss */
.gallery li .meta a {
  display: table-cell;
  vertical-align: middle;
}
/* line 690, ../sass/_smallest.scss */
.gallery li .meta a h1 {
  font-size: 21px;
}

/* line 701, ../sass/_smallest.scss */
.raceDate p {
  margin: 0;
  font-size: 12px;
  color: white;
}

/* line 1, ../sass/_480.scss */
section {
  padding: 2em 0;
}

/* line 7, ../sass/_480.scss */
.grid4 {
  width: 25%;
}
/* line 326, ../sass/_mixins.scss */
.grid4:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.grid4:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 13, ../sass/_480.scss */
.race-tabs li a {
  border-right: solid 1px;
  border-bottom: 0;
}
/* line 18, ../sass/_480.scss */
.race-tabs li:last-child a {
  border: 0;
}

/* line 1, ../sass/_768.scss */
section {
  padding: 2em 0;
}

/* line 5, ../sass/_768.scss */
.col2 {
  width: 50%;
}
/* line 326, ../sass/_mixins.scss */
.col2:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col2:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 9, ../sass/_768.scss */
.grid3 {
  width: 49.95%;
}
/* line 326, ../sass/_mixins.scss */
.grid3:nth-child(n) {
  margin-bottom: 0.1%;
  margin-right: 0.1%;
}
/* line 330, ../sass/_mixins.scss */
.grid3:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 14, ../sass/_768.scss */
.races .grid3 {
  border-top: 0;
  border-bottom: 0;
}
/* line 17, ../sass/_768.scss */
.races .grid3:nth-child(1n+1) {
  border-right: solid 1px white;
}

/* line 23, ../sass/_768.scss */
.news, .callout ul {
  height: 800px;
}

/* line 27, ../sass/_768.scss */
.col4 {
  width: 50%;
}
/* line 326, ../sass/_mixins.scss */
.col4:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col4:nth-child(2n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 31, ../sass/_768.scss */
.col3 {
  width: 33.33333%;
}
/* line 326, ../sass/_mixins.scss */
.col3:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col3:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 35, ../sass/_768.scss */
.main-footer {
  text-align: left;
}
/* line 38, ../sass/_768.scss */
.main-footer .col4:last-child {
  padding: 3em 0px 3em 20px;
}

/* line 45, ../sass/_768.scss */
.logo {
  width: auto;
}

/* line 50, ../sass/_768.scss */
.hero {
  padding: 8em 12em 4em;
}
/* line 54, ../sass/_768.scss */
.hero .promo .headline h1 {
  font-size: 60px;
}

/* line 62, ../sass/_768.scss */
.pagetitle h1 {
  font-size: 80px;
}
/* line 65, ../sass/_768.scss */
.pagetitle h2 {
  font-size: 30px;
}

/* line 71, ../sass/_768.scss */
.section-title h3 {
  font-size: 40px;
  float: left;
}
/* line 75, ../sass/_768.scss */
.section-title .social {
  float: right;
}

/* line 81, ../sass/_768.scss */
.interior .hero {
  height: 450px;
}

/* line 87, ../sass/_768.scss */
.gallery li {
  width: 33.33333%;
}
/* line 326, ../sass/_mixins.scss */
.gallery li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.gallery li:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 1, ../sass/_940.scss */
.grid3 {
  width: 33.26667%;
}
/* line 326, ../sass/_mixins.scss */
.grid3:nth-child(n) {
  margin-bottom: 0.1%;
  margin-right: 0.1%;
}
/* line 330, ../sass/_mixins.scss */
.grid3:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 7, ../sass/_940.scss */
.races .grid3 {
  border: 0 !important;
}

/* line 12, ../sass/_940.scss */
.news, .callout ul {
  height: 650px;
}

/* line 16, ../sass/_940.scss */
.col4 {
  width: 25%;
}
/* line 326, ../sass/_mixins.scss */
.col4:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.col4:nth-child(4n) {
  margin-right: 0;
  margin-bottom: 0;
}

/* line 22, ../sass/_940.scss */
.main-footer .col4:nth-child(3) {
  border-right: solid 1px #5b5b5b;
  border-left: solid 1px #5b5b5b;
}

/* line 29, ../sass/_940.scss */
.hero {
  height: 470px;
  padding: 0;
}

/* line 36, ../sass/_940.scss */
.home .hero {
  height: 600px;
}

/* line 42, ../sass/_940.scss */
.landing .hero {
  height: 470px;
}

/* line 49, ../sass/_940.scss */
.stats .span4 h2 {
  font-size: 99px;
}

/* line 55, ../sass/_940.scss */
.content {
  padding: 0em 0em 5em;
}

/* line 59, ../sass/_940.scss */
.pagetitle {
  width: 100%;
}

/* line 64, ../sass/_940.scss */
.race-tabs a {
  padding: 60px 0;
  font-size: 35px;
}
/* line 69, ../sass/_940.scss */
.race-tabs span {
  font-size: 15px;
}

/* line 76, ../sass/_940.scss */
.gallery li {
  width: 20%;
}
/* line 326, ../sass/_mixins.scss */
.gallery li:nth-child(n) {
  margin-bottom: 0;
  margin-right: 0;
}
/* line 330, ../sass/_mixins.scss */
.gallery li:nth-child(5n) {
  margin-right: 0;
  margin-bottom: 0;
}
