[[$doc_head]]
    <body class="interior">
        [[$header]]
        <section class="hero" style="background-image:url('[[*header-image]]')">
            
        </section>
        <!-- CONTENT -->
        

        <div class="row-fluid wrap pagetitle">
            <h1 >[[*pagetitle]]</h1>
        </div>
        <section class="content">
            <div class="main-content row-fluid wrap">
                <div class="span4">
                    [[*content]]
                </div>
                <div class="span8">
                    [[$contact_form]]
                </div>
            </div>
        </section>

        <!-- END CONTENT -->
        [[$races]]
        [[$sponsors]]
        
        [[$footer]]
  [[$doc_footer]]
