[[$doc_head]]
    <body class="interior">
        [[$header]]
        <section class="hero" style="background-image:url('[[*header-image]]')">
            
        </section>
        <!-- CONTENT -->
        

        <div class="row-fluid wrap pagetitle">
            <h1 >[[*pagetitle]]</h1>
        </div>
        <section class="content">
            <div class="main-content row-fluid wrap">
                <ul class="gallery row-fluid">
                [[Gallery? 
                    &album=`[[*album]]` 
                    &use_richtext =`true`
                    &thumbTpl=`gallery-item`
                    &thumbHeight=`500`
                    &thumbWidth=`500`
                    &thumbFar=`C`
                    &imageHeight=`800`
                    &imageWidth=`800`

                ]]
            </ul>
            </div>
        </section>

        <!-- END CONTENT -->
        [[$races]]
        
        [[$sponsors]]
        
        [[$footer]]
  [[$doc_footer]]
