[[$doc_head]]
<body class="home">
    [[$header]]
    <section class="hero" style="background-image:url('[[*header-image]]')">
     [[*promotion-name:notempty=`[[$promotion]]`]]
        [[!getResources?
          &parents=`1`
          &tpl=`video`
          &showHidden=`1`
          &limit=`1`
          &includeTVs=`1`
          &processTVs=`1`
          &tvPrefix=``
          &sortby=`RAND()`
        ]]
     
 </section>
 <section class="terrain stats hidden-phone">
    <ul class="row-fluid wrap">
        <li class="span4">
            <h2>[[*stat1-figure]]</h2>
            <p>[[*stat1-text]]</p>
        </li>
        <li class="span4">
             <h2>[[*stat2-figure]]</h2>
            <p>[[*stat2-text]]</p>
        </li>
        <li class="span4">
             <h2>[[*stat3-figure]]</h2>
            <p>[[*stat3-text]]</p>
        </li>
    </ul>
</section>
[[$races]]

[[$sponsors]]
<div class="updates row-fluid">
    [[$callout]]
    [[$news]]
</div>
[[$footer]]
[[$doc_footer]]
