[[$doc_head]]
<body>
    [[$header]]
    <section class="hero" style="background-image:url('[[*header-image]]')">
     [[*video-mp4:notempty=`[[$video]]`]]
 </section>
        <!-- CONTENT -->
        

        <div class="row-fluid wrap pagetitle">
            <h1 >[[*pagetitle]]</h1>
            <h2>[[*distance]]</h2>
        </div>
        <div class="race-tabs terrain">
            <div class="row-fluid wrap">
                <ul class="nav nav-tabs row-fluid">
                    <li class="grid4 active"><a class="ico-info" href="#race" data-toggle="tab"><span>Race Info</span></a></li>
                    <li class="grid4"><a class="ico-map" href="#course" data-toggle="tab"><span>Course Info</span></a></li>
                    <li class="grid4"><a class="ico-medal" href="#time" data-toggle="tab"><span>Racer Perks</span></a></li>
                    <li class="grid4"><a class="ico-signup" href="[[*register-link]]" target="_blank"><span>Register</span></a></li>
                </ul>
            </div>
        </div>
        <section class="content">
            <div class="main-content tab-content row-fluid wrap">
                <div class="tab-pane active" id="race">
                    <div class="section-title row-fluid">
                        <h3>Race Info</h3>
                        [[$social2]]
                    </div>
                    <div class="video-row row-fluid">
                        [[*youtube-link:notempty=`<div class="span7">
                        [[*race-info-secondary-headline:notempty=`<h4>[[*race-info-secondary-headline]]</h4>`]]
                            <div class="video-container">
                                <iframe width="560" height="315" src="[[*youtube-link]]" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>`]]
                        [[*race-info-secondary-content:notempty=`<div class="span5">
                            
                            [[*race-info-secondary-content]]
                            <div class="button-bar"><a href="[[*register-link]]" target="_blank" class="button red">register</a><a href="#course" class="button outline" data-toggle="tab">course map</a></div>
                        </div>`]]
                    </div>
                    [[*content]]
                    
                </div>
                <div class="tab-pane" id="course">
                    <div class="section-title row-fluid">
                        <h3>Course Info</h3>
                        [[$social2]]
                    </div>
                    <div class="video-row row-fluid">
                        <div id = "map_canvas" class = "map"></div>
                        <br />
                        <img src="[[*elevation_map]]">
                        <hr>
                        [[*course-information]]
                    </div>
                </div>
                <div class="tab-pane" id="time">
                    <div class="section-title row-fluid">
                        <h3>Racer Perks</h3>
                        [[$social2]]
                    </div>
                    <div class="video-row row-fluid">
                        [[*racer-perks-content]]
                    </div>
                </div>
            </div>
        </section>

        <!-- END CONTENT -->
        [[$races]]
        
        [[$sponsors]]
        
        [[$footer]]


        <script type="text/javascript"  src="//maps.google.com/maps/api/js?sensor=false&key=AIzaSyA257H283PyTvbP01lOsa_hNndhXe5TkqY"></script>
        <script type="text/javascript">

            function initialize() {
                var route_center_lat ='34.11585',
                route_center_lng = '-118.75699',
                start_location = new google.maps.LatLng(route_center_lat, route_center_lng),
                myOptions = {
                    zoom: 11,
                    center: start_location,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    panControl: false,
                    zoomControl: false,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    overviewMapControl: true,
                    zoomControlOptions: {
                        style: google.maps.ZoomControlStyle.SMALL
                    },
                    mapTypeControlOptions: {
                        style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                    },
                    styles: [{"featureType":"water","stylers":[{"visibility":"on"},{"color":"#b5cbe4"}]},{"featureType":"landscape","stylers":[{"color":"#efefef"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#83a5b0"}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#bdcdd3"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#ffffff"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#e3eed3"}]},{"featureType":"administrative","stylers":[{"visibility":"on"},{"lightness":33}]},{"featureType":"road"},{"featureType":"poi.park","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":20}]},{},{"featureType":"road","stylers":[{"lightness":20}]}],
                },
                kml_opts = {
                    marker_unit: 'mile',
                    custom_markers: '1',
                    line_color: 'E60f0bdb',
                    show_marker_every: '1'
                },
                map = new google.maps.Map(document.getElementById("map_canvas"), myOptions),
                // ctaLayer = new google.maps.KmlLayer('http://agoura.aviditycreative.com/resources/data/kml/cheseboro.kml');
                ctaLayer = new google.maps.KmlLayer('[[++site_url]][[*course-info-content]]');
                ctaLayer.setMap(map);

            }
            $(document).ready(function() {
                $('a[data-toggle="tab"]').click(function () {
                    var $e = $(this);
                    if($e.attr("href") == "#course"){
                        initialize();
                    }
                });
            });
        </script>
        <style>
            #map_canvas {width: 100%; height: 400px;}
        </style>
  [[$doc_footer]]
